{% extends "base1.html" %}
{% load cms_tags %}



{% block content %}
	            <div class="space">
                    <div class="text-center">
                        {% placeholder "big_title" %}
                        <hr class="hr-light-h wow fadeIn" data-wow-delay="1s">
                       {% placeholder "sub_title" %}

                            <button class="btn btn-lg btn-orange cta-btn btn-form mt-3 mb-5 wow fadeIn" data-toggle="modal" data-target="#exampleModal" data-wow-delay="1s">Сделать заявку <i class="far fa-paper-plane animated tada delay-5s infinite ml-1"></i>
                            </button>
                    </div>
            </div>
{% endblock content %}
