   {% load static %}
   {% load custom_filters %}
{% load custom_tags %}

{% url 'invoice' i.pk as the_url_invoice %}
{% url 'delete-order' i.pk as the_url_delete %}
{% url 'update' i.pk as the_url_update %}

   <div  class="{{ class_ }}" id="{{ id_ }}">
                <div class="col-md-4">
                    <div id="time_in">{{ i.time_in }}</div><br>

                    <a href="{{ the_url_invoice }}" id="order_{{ i.pk }}" class="h5 mycolor">Order № {{ i.pk }}</a><br>

                    <a href="{{ the_url_delete }}" id="delete_{{ i.pk }}" class="mycolor" title="Delete"><i class="fas fa-trash text-secondary mt-3"></i></a>&nbsp&nbsp&nbsp
                      <a href="{{ the_url_update }}" id="edit_{{ i.pk }}" title="Edit"><i class="fas fa-pen text-secondary mt-3"> </i></a>&nbsp&nbsp&nbsp
                    <a href="#" id="{{ i.pk }}" class="copy" title="Copy"><i class="fas fa-copy text-secondary mt-3"></i></a>

                </div>
                <div class="col-md-4 ">
                    <span id="customer_name_{{ i.pk }}" class="fas fa-user prefix text-secondary mt-3" aria-hidden="true"> {{ i.customer_id.customer_name|capfirst }}</span><br>

                    <a href="tel:{{ i.customer_id.phone }}" title="Phone" id="customer_phone_{{ i.pk }}" class="fas fa-phone prefix text-secondary mt-3" aria-hidden="true">
                        {{ i.customer_id.phone }}</a><br>


                    <a href="https://t.me/{{ i.customer_id.telegram|cut:'@' }}" title="Telegram" id="customer_id.telegram_{{ i.pk }}"
                       class ="fas fa fa-paper-plane text-secondary mt-3" aria-hidden="true">
                         @{{i.customer_id.telegram}}</a><br>

                    {% if i.apartment_id.location_longitude  %}
                    <a href= 'https://yandex.ru/maps/?pt={{ i.apartment_id.location_longitude|change_comma_to_dot }},
                    {{ i.apartment_id.location_latitude|change_comma_to_dot }}&z=18&l=map' id="map_{{ i.pk }}" class="fas fa-home prefix text-secondary mt-3"
                    title="Open map" aria-hidden="true" >
                    <i  class="fas fa-map-marker prefix text-secondary mt-3" aria-hidden="true"></i>
                    {% elif i.pk and i.apartment_id.location_longitude is None %}
                        <a href="#" title="Copy address" class="fas fa-home prefix text-secondary mt-3" aria-hidden="true" id="map_{{ i.pk }}" onclick="copyToClipboard($(this))">
                        <i class="fas fa-copy text-secondary mt-3"></i>
                    {% else %}
                        <a href="" title="" class="fas fa-home prefix text-secondary mt-3" aria-hidden="true" id="map_" onclick="copyToClipboard($(this))">
                        <i id="map_icon" class="fas fa-copy text-secondary mt-3"></i>
                    {% endif %}
                        <span id="city_{{ i.pk }}" >{{ i.apartment_id.address_city|choice_tag:'city'}}</span>,
                        <span id="street_app_{{ i.pk }}">{{ i.apartment_id.address_street_app|capfirst }}</span>,
                        <span id="num_{{ i.pk }}">{{ i.apartment_id.address_num }}</span>.
                    </a>

                </div>

                <div class="col-md-4">
                    <p id="text_order_{{ i.pk }}" class="fas text-secondary mt-3">{{ i.text_order|truncatechars:200|capfirst }}</p>


                </div>
            </div>
            <div class="row">
                <div class="col-md-12"><hr></div>
            </div>