{% load static %}
         <div class="col-lg-5 col-md-5 col-sm-12 card_border">
                <div class="card_header">
                    <h3 class="services_h">{{ name_service }}</h3>
                    {{ children }}
                </div>
                <div class="card_body">
                    <ul class="servicesLinks">
                        <li>{{ name_service1 }}</li>
                        <li>{{ name_service2 }}</li>
                        <li>{{ name_service3 }}</li>
                    </ul>
                </div>

             </div>