{% load static %}
         <div class="item">
          <div class="card testimonial-card">
                                <div class="card-up services_gr">

                                </div>
                                <div class="avatar mx-auto white">
                                    {{ children }}
                                </div>
                                <div class="card-body">
                                    <!--Name-->
                                    <h3 class="services_h mycolor">{{ name_service }}</h3>
                                    <hr>
                                    <ul class="servicesLinks">
                                        <li>{{ name_service1 }}</li>
                                        <li>{{ name_service2 }}</li>
                                        <li>{{ name_service3 }}</li>
                                    </ul>
                                </div>

                        </div>
             </div>