  <div class="carousel-item {{ active }}">
                            <div class="testimonial">
                                <!--Avatar-->
                                <div class="avatar mx-auto mb-4">
                                    {{ children }}
                                </div>
                                <!--Content-->
                                <p>
                                    {{ text }}</p>
                                <h4 class="font-weight-bold"></h4>
                                <h6 class="font-weight-bold my-3"></h6>
                            </div>
                        </div>