 <div class="container">
    <div class="row">
        <!-- Grid column -->
        <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
            <h4 class="">{{ address_title }}</h4>
            <!-- Grid column -->
            <div class="m-3">
                <p class=" text-center">
                    {{ address_name }}</p>
            </div>
        </div>
        <!-- Contact window button -->
        <div class="col-md-4 col-sm-12 mb-3">
            <h4 class="">{{ phone_title }}</h4>
            <div  class="m-3">
                <p class="text-center">+995-598-259-119</p>
            </div>
        </div>
        <!-- Grid column -->
        <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
            <h4 class="">{{ write_to_us_title }}</h4>
            <div class="col-md-12">
                <div class="m-3 text-center">
                    <!--Facebook-->
                    <a class="mx-2" title="Facebook" href="https://www.facebook.com/profile.php?id=100089613313605">Facebook</a>
                    <!--Telegramm-->
                    <a class="mx-2" title="Telegram" href="https://t.me/+995598259119">Telegramm</a>
                    <!--WhatsApp-->
                    <a class="mx-2" title="WhatsApp" href="https://wa.me/+79604458687">WhatsApp</a>
                </div>
                <!--Grid column-->
            </div>
        </div>
    </div>
 </div>
<div class="footer-copyright py-3 text-center">
    <img src="static/images/mastercard.svg" alt="mastercard" >
     <img src="static/images/visa.svg" alt="visa"  ><br>

    <span class="text-muted"> © 2025 |</span> <a href=""> {{ master_title}}</a>
</div>