{% load custom_filters %}
{% load custom_tags %}


<form method="post" action="" name="form" id="form" class="form border border-default p-2">
    {{ children }}
    <div class="">
        {{ form_customer_ }}

        {{ form_appart_}}

        {{ form_order_}}

    </div>

    {% if lng == 'ru' %}
        <button type="submit" name="submit" class="btn-send btn-send mycolor">Отправить заявку на ремонт</button>
        <a href="{% url 'createorder' %}" class="btn-send btn-send mycolor">Oчистить форму</a>
    {% elif lng == 'ge'%}
        <button type="submit" name="submit" class="btn-send btn-send mycolor">გაგზავნეთ შეკეთების მოთხოვნა</button>
        <a href="{% url 'createorder_ge' %}" class="btn-send btn-send mycolor">გადატვირთვა</a>
    {% else %}
        <button type="submit" name="submit" class="btn-send btn-send mycolor">Submit a repair request</button>
        <a href="{% url 'createorder_en' %}" class="btn-send btn-send mycolor">Reset</a>

    {% endif %}
</form>

