   {% load static %}

    <nav id="navigation-menu" class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <div class="container">
            <a class="navbar-brand" href="tel:+995598259119"><i class="fas fa-phone animated tada delay-1s infinite fa-sm fa-rotate-90"></i>+995 598-259-119</a>
		    <a href="{% url 'home' %}"><img src="{% static 'images/flag_ru.png' %}" class="flag" alt="ru"></a>
            <a href="{% url 'home_en' %}"><img src="{% static 'images/flag_en.png' %}" class="flag" alt="en"></a>
            <a href="{% url 'home_ge' %}"><img src="{% static 'images/flag_ge.png' %}" class="flag" alt-ge></a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    {{ children }}
                </ul>
            </div>
        </div>
    </nav>
