   {% load static %}

    <nav id="navigation-menu" class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar {{ line }}">
        <a href="#" onclick="document.getElementById('id_customer_name').focus(); return false;" class=" navbar-brand skip-link">Skip to content</a>
        <div class="container">
            <a class="navbar-brand" href="tel:+995598259119">+995 598-259-119</a>


            <a href="{% url 'createorder' %}{{uuid_}}"><img src="{% static 'images/flag_ru.png' %}" class="flag" alt="ru"></a>
            <a href="{% url 'createorder_en' %}{{uuid_}}"><img src="{% static 'images/flag_en.png' %}" class="flag" alt="en"></a>
            <a href="{% url 'createorder_ge' %}{{uuid_}}"><img src="{% static 'images/flag_ge.png' %}" class="flag" alt-ge></a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav m-auto">
                    {{ children }}

                </ul>
            </div>
        </div>
    </nav>
