<div class="row mb-2 border" >
    <div class="col-md-2"><i id="check1" class="{{ check_1 }}"></i></div>
    <div class="col-md-10 {{ check_font_1 }}" id="check_text_1">New request</div>
</div>
   <div class="row mb-2">
    <div class="col-md-2" ><i id="check2" class="{{ check_2 }}"></i></div>
    <div class="col-md-10 {{ check_font_2 }}" id="check_text_2">Job in progress</div>
</div>
<div class="row mb-2">
    <div class="col-md-2" ><i id="check3" class="{{ check_3 }}"></i></div>
    <div class="col-md-10 {{ check_font_3 }}" id="check_text_3">Job completed  </div>
</div>