{% extends 'flatpages/default_owner.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load static %}
{% load slippers %}


{% block body %}


<div class="container">

 <a href="{% url 'apartment_create' %}" class="fa fa-plus text-secondary m-3" >
        Add new apartment
    </a>
    {% for b in appartment %}
          <div class="row border-bottom p-3 mb-3">
              <div class="col-lg-2 col-md-2 col-sm-12">
                                      <a href="../owner/apartment/{{ b.pk }}" class="h5 text-secondary " >
                    <i class="fas fa-pen text-secondary" style='font-size:14px'> edit</i></a> | 
                    <a href="" ><i class="fas fa-trash text-secondary" style='font-size:14px'>delete</i></a>

                  <img src="../media/{{ b.foto }} " alt="" class="" width="100">
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                  <h4>{{ b.name|default_if_none:'' }}</h4>
                    
                  <h5 class="mt-0 p-0">
                      {{ b.address_street_app }} {{ b.address_num }}, {{ b.address_city|choice_tag:'city' }}
                  </h5>
                  <span class="text-secondary ">
                      {{ b.notes|default_if_none:'' }}
                      <a href="{{b.link_location }}">
                          MAP
                      </a>
                  </span>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12">

                  Oders: {{ orders_count|get_item:b.pk  }}<br>
                  Costs: {{ orders_summ|get_item:b.pk }}<br>
                  Masters:<br>
                  {% for i in list_master|get_item:b.pk %}
                  <img src="../media/masters/{{ i.0 }}.jpg"
                    class="rounded-circle border border-5 border-white" width="35"> {{ i.1 }}
                  {% endfor %}
              </div>
              
          </div>
    {% endfor%}
</div>

    <!-- Modal Window -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                </div>
                <div class="modal-body  mx-3">
                    <div id="contact" class="form-container">
                        <fieldset>
                            <div id="message">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
				    </div>
                            <form method="post" action="" class="" id="form">
                                {% csrf_token %}
                                {{ formorder}}
                                <br>
                                <button type="submit" name="submit" class="btn btn-sm btn-orange cta-btn btn-form mt-3 mb-5 ">
                                    Send</button>

                                </form>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- And Modal Window -->

<script>
$(document.body).ready(function() {

    $('#form').submit(function(e) {
        e.preventDefault();
            $.ajax({
                url: '../',
                type: 'POST',
                data: $(this).serialize(),
                dataType: 'text',
                beforeSend: function () {$("#form").html('<h3>Отправляется...</h3>');},
                success: function (resp) {


                        $("#form").html(JSON.parse(resp).message);

                },
            });

    });
});
</script>
{% endblock body %}