{% extends 'flatpages/default_owner.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load slippers %}

{% block subbody %}
<!-- from filterset -->
<div class="container text-white">
    <form action="" method="get" class="">
        {{ filterset.form.time_in_sence }}
        {{ filterset.form.time_in_until }}
        {{ filterset.form.order_status }}
        {{ filterset.form.apartment_id }}
        <input type="submit" value=" Submit " class="btn btn-sm btn-orange">

    </form>
</div>
<!-- end from filterset -->
{% endblock subbody %}

{% block body %}

<div id="head" class="container">
{% url 'ownerinvoice' i.pk as the_url_invoice %}
{% url 'delete-order' i.pk as the_url_delete %}
{% url 'update' i.pk as the_url_update %}

{% for i in order %}
<div  class="row border-bottom p-1 mb-3 mt-1" id="{{ id_ }}">
    <div class="col-sm-12 col-md-4 col-lg-4 mt-3">
        <a href="{% url 'ownerinvoice' i.pk %}" id="order_{{ i.pk }}" class="h5 mycolor">Order № {{ i.pk }}</a>
        <a href="{% url 'delete-order' i.pk %}" id="delete_{{ i.pk }}" class="mycolor" title="Delete">
            <i class="fas fa-trash text-secondary ml-3"></i></a><br>
        {{ i.time_in }}
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 mt-3">
         <h5 >{{ i.apartment_id__name }}</h5>
            <span id="street_app_{{ i.pk }}">{{ i.apartment_id__address_street_app }}</span>
            <span id="num_{{ i.pk }}">{{ i.apartment_id__address_num }}</span>,
            <span id="city_{{ i.pk }}" >{{ i.apartment_id__address_city|choice_tag:'city'}}</span>.
        <p id="text_order_{{ i.pk }}" class="mt-1">{{ i.text_order|truncatechars:200|capfirst }}</p>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 mb-3">
            <a href="" class="text-secondary h5" title="master">
                <img src="../media/masters/{{i.repairer_id}}.jpg" alt="master" class="rounded-circle"  width="60">
                {{ i.repairer_id__username|capfirst }}
            </a>
        <br>
    </div>
</div>
{% empty %}
<div  class="row border-bottom p-1 mb-3 mt-1">
    <h3>No orders</h3>
</div>

{% endfor %}



    <!-- Modal Window -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body  mx-3">
                    <div id="contact" class="form-container">
                        <fieldset>
                            <div id="message">
    				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                            </div>
                        </fieldset>
                            <div class="row">
                                <div class="col-12 text-center">
                                    <h4 id="name" class="mycolor font-weight-bold"></h4>
                                    <img id="foto1" class="rounded-circle" align="" width="100">
                                    <div class="row center" hidden id="profile"></div>
                                </div>
                            </div>
                            <div class="row mb-3 border-bottom">
                                <div class="col-6 text-center"><a href="tel:" title="Phone"  id="customer_phone" class="fas fa-phone prefix text-secondary mt-3" aria-hidden="true"></a></div>
                                <div class="col-6 text-center"><a href="https://t.me/" title="Telegram" id="customer_telegram" class ="fas fa fa-paper-plane text-secondary mt-3" aria-hidden="true"></a></div>
                            </div>


<form method="post" action="" name="form" id="form">{% csrf_token %}

  <div><input type="hidden" name="form-TOTAL_FORMS" id="id_form-TOTAL_FORMS" value="20">
      <input type="hidden" name="form-INITIAL_FORMS" id="id_form-INITIAL_FORMS" value="0">
      <input type="hidden" name="form-MIN_NUM_FORMS" id="id_form-MIN_NUM_FORMS">
      <input type="hidden" name="form-MAX_NUM_FORMS" id="id_form-MAX_NUM_FORMS"></div>
      <input type="hidden" name="customer_id" id="customer_id" value="">


                            <div class="row mb-2 mt-2" id="apart">Apartments:
                            </div>
    <button type="submit" name="submit" class="btn btn-sm btn-orange cta-btn btn-form mt-3 mb-5 ">Send</button>

      </form>



                            <div class="row mb-2 mt-2" id="order1">Client requests:
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- And Modal Window -->


<script>
$(document).on('click', '#link', function (e) {
    e.preventDefault();

         $.ajax({
            url: "../client?pk="+$(this).attr("href") ,
            type: "GET",
            dataType: 'json',

            success: function(resp){
            document.getElementById("name").innerHTML =resp.name;
            document.getElementById("customer_phone").innerHTML =' '+resp.phone;
            document.getElementById("customer_telegram").innerHTML = ' '+resp.telegram;
            document.getElementById("profile").innerHTML = resp.profile;
            document.getElementById("foto1").src ='../media/'+resp.foto;
            document.getElementById("customer_id").value =resp.pk;

            b=JSON.parse(resp.orders);
            c=JSON.parse(resp.apartment);


            let f=$('div[new="new"]');
                    for (i = 0; i < f.length; i++) {
                        f[i].remove();
                    }

            let a=$('div[ap="ap"]');
                    for (i = 0; i < a.length; i++) {
                        a[i].remove();
                    }

            b.forEach((element, index ) =>  {
            let order_ = $("#order1").clone();
                order_.attr('id', 'order_'+element.pk);
                order_.attr('new', 'new');
                order_.attr('class', 'prefix text-secondary mb-2');
                let date_order=element.time_in.substring(0, 10).split("-").reverse().join(".");
                order_.html('<div class="mb-2 mb-3 border-bottom"><a href=../list_order/' + element.pk + ' class="prefix text-secondary ">' + date_order + ' | ' + element.text_order + '</a></div>');
                $('#order1').after(order_);
            })

            c.forEach((element, index ) =>  {
            let ap_ = $("#apart").clone();
                ap_.attr('id', 'ap_');
                ap_.attr('ap', 'ap');
                ap_.attr('class', 'prefix text-secondary mb-2');
                ap_.html('<div class="row mb-3 border-bottom"><div class="col-9">'+element.address_street_app + ' '+element.address_num +', '+ element.address_city + '<input type="hidden" name="form-'+index+'-apartment_id" id="id_form-'+index+'-apartment_id" value='+ element.pk +'> <br><input hidden type="text" id="id_form-'+index+'-text_order" name="form-'+index+'-text_order" placeholder="Input your job"> </div> <div class="col-3"><a class="mycolor" href="#" onclick=show_input_form(document.getElementById("id_form-'+index+'-text_order"))>add job</a></div></div>');
                $('#apart').after(ap_);
            })

         }
    });





})


$(document.body).ready(function() {

    $('#form').submit(function(e) {
        e.preventDefault();


            $.ajax({
                url: '../save_list',
                type: 'POST',
                data: $(this).serialize(),
                dataType: 'text',
                beforeSend: function () {$("#form").html('<h3>Sending...</h3>');},
                success: function (resp) {window.location.href = '/list_order?order_status=SND'},
            });

    });
});

function show_input_form(input) {
if (input.hidden === false)  {input.hidden = true;}

else {input.hidden = false;}

}
</script>



{% endblock body %}