{% extends 'flatpages/default_owner.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load slippers %}
{% load static %}

{% block body %}

<tr class="container">
    <div class="row mb-0" >
        <div class="col-sm-12 col-md-4 col-lg-4 mb-4" >
            <h4 class="mycolor mb-0"><b>Order № {{ info.id }}</b></h4>
            {{ info.time_in }}
        </div>
        
        <div class="col-lg-4 col-md-4 col-sm-12 mb-4" >
            <h5 class="mb-0">{{ info.apartment_id.name }}</h5>
            <i class="fas fa-home prefix text-secondary mt-1"> </i> {{ info.apartment_id.address_city|choice_tag:'city' }}, {{ info.apartment_id.address_street_app }}, {{ info.apartment_id.address_num }}<br>
        </div>

    <div class="col-lg-4 col-md-4 col-sm-12 mb-4">
        <h4>Manager / masrer
            <a href="" class="text-secondary"><br>
                <img src="../media/masters/{{ info.repairer_id.pk }}.jpg"
                                class="rounded-circle" width="60">
                <b>
                    {{ info.repairer_id|default_if_none:""|capfirst }}
                </b>
            </a></h4>
    </div>
    
    
</div>




<table id="table_invoice" class="table" >
<thead>
    <tr class="" ><td colspan="5" class="h4">
        {{ info.text_order }}
    </td></tr>

<tr  class="table-warning">
    <th>Name of service </th>
    <th>Quantity </th>
    <th>Price</th>
    <th >Sum</th>
    <th > </th>
</tr>
</thead>

<tbody>
    {% regroup invoice by service_id.type as type %}
    {% for i in type %}
    <tr>
        <th class="table-secondary h5" colspan="5">{{ i.grouper|choice_tag:'work_type'  }} </th>
    </tr>
        <tr class="form_text">
            {% for g in i.list %}
                <td name="service_id" class="pl-4">{{ g.service_id }}</td>
                <td name="quantity">{{ g.quantity }} </td>
                <td name="price">{{ g.price }}</td>
                <td name="amount">{{ g.amount }}</td>
        </tr>
            {% endfor %}

    {% endfor %}
</tbody>





<tr class="table-warning" id="total_">
    <th>
        <a href="{% url 'invoice_pdf' info.id  %}" title="Invoice #{{ info.id }}">
            <img src={% static 'images/invoice.png' %} width=60 alt="Invoice">
        </a>
    </th>

    <th class="h5-responsive">
    </th>

    <th class="h5-responsive ">
        Total:
    </th>

    <th class="h5-responsive" id="total">
    </th>
    <th>
    </th>
</tr>
<script>
    function sum_total() {
        let sum_total=0;
        $('td[name="amount"]').each(function(){sum_total += parseInt($(this).html());});
        $('#total').html(sum_total);
    }
    sum_total();
</script>
</table>

{% endblock body %}

{% block js %}
{% endblock js %}
