{% extends 'flatpages/default_owner.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load static %}
{% load slippers %}

{% block head %}
<style>
.hidden{
    display:none;
}

.tab {
    display: flex;
    flex-wrap: wrap;
}

.tab > input[type="radio"] {
    display: none;
}

.tab-content {
    display: none;
    width: 100%;
    margin-top: 1rem;
}

{% for z in apartments %}
#tab-btn-{{z.pk}}:checked~#content-{{z.pk}},
{% endfor %}

#tab-btn-0:checked~#content-0
{
    display: block;
}

.tab > label { width: 100%;
    display: block;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    text-decoration: none;
    color: #ca5718;
    border-radius: 0.375rem;
    background: 0 0;
    border: solid;
    border-width: 1px;
    margin-left: 10px;
}

.tab > input[type="radio"]:checked + label {
    cursor: default;
    color: #fff;
    background-color: #ca5718;
}
</style>

{% endblock head%}


{% block subbody %}
{% endblock subbody%}


{% block body %}

<!--empty div for add order -->
<div class="hidden" id="empty-form" >
    <a href="" id="link-delete" class="mycolor" title="Delete">
    <i class="fas fa-trash text-secondary"></i>
    </a>
    <a href="" class="mycolor" id="order_number">
    <b>Order № </b>
    <U>in progress</U>
    </a>
    | <span id="time_in"></span> |
    <a href="" id="repaier" class="text-secondary" data-toggle="modal" data-target="#exampleModal"></a><br>
    <div class="mt-2" id="text"></div>
</div>
<!-- end empty div for add order -->


<div class="container">
    <a href="{% url 'apartment_create' %}" class="fa fa-plus text-secondary m-3" >
        Add new apartment
    </a>
    <span class="fa fa-trash text-secondary m-3" >
        Delete apartment
    </span>
    <button class="btn mycolor m-1" style="display:none;" onclick='menu_hide_show()' id="showallapat">Show all apartments</button>

    <div class="tab" >

        <!--menu apartments-->
        {% for b in apartments %}
        <input id="tab-btn-{{ b.pk }}" name="tab-btn" type="radio" value="">
        <label onclick="menu_hide_show()" for="tab-btn-{{ b.pk }}">
            {{b.address_street_app}} {{b.address_num|default_if_none:''}}  | <span class="text-secondary">{{b.name}}</span></label>
        {% endfor %}
        <!--end menu apartments-->
        {% regroup order_list_by_apartments by apartment_id as ap_list %}
        {% for c in ap_list %}
        <div class="tab-content" id="content-{{ c.grouper.pk }}">
            <div class="row">
                <!--details about apartment-->
                <div class="col-lg-4 col-md-4 col-sm-12 border-right" align="center">
                    <h4>
                        {{ c.grouper.name|default_if_none:'' }}
                    </h4>
                    <h5 class="mt-0 p-0">
                        {{ c.grouper.address_street_app }} {{ c.grouper.address_num }},
                        {{ c.grouper.address_city|choice_tag:'city' }}
                    </h5>
                    <p class="text-secondary ">
                        {{ c.grouper.notes|default_if_none:'' }}
                        <a href="{% url 'apartment_update' c.grouper.pk %}" class="fas fa-pen text-secondary"
                           title="update apartment"> Edit
                        </a>
                    </p>
                    {% if c.grouper.foto %}
                    <img src="../media/{{ c.grouper.foto }}"
                         alt="" class="" width="200">
                    {% endif %}
                </div>
                <!-- end details about apartments-->
                <!-- list of orders for a specific apartment -->
                <div class="col-lg-8 col-md-8 col-sm-12" align="left">
                    <div id="button-form-{{ c.grouper.pk }}">
                        <button id="toggleLink" class="btn btn-lg btn-block fa fa-plus mycolor m-2 p-2"
                           onclick="viewdiv('form-{{ c.grouper.pk }}')">
                            Add new request
                        </button>
                    </div>
                    <!-- form for order -->
                    <div id="form-{{ c.grouper.pk }}" style="display:none;" class="mb-5">
                        <form method="POST" action="" name="form_order{{ c.grouper.pk }}"
                              id="form_order{{ c.grouper.pk }}" class="form_order">
                            {% csrf_token %}
                            <input type="hidden" name="customer_id" value="{{ prof.pk }}"/>
                            <input type="hidden"  name="apartment_id" value="{{ c.grouper.pk }}"/>
                            <textarea name="text_order" rows="4" cols="50"></textarea>
                            <br>
                            <button type="submit" name="submit" class="btn btn-sm btn-orange cta-btn btn-form ">Send</button>
                        </form>
                    </div>
                    <!-- end form for order -->
                    <div id="list_orders-{{ c.grouper.pk }}" >
                        {% for b in c.list %}
                        <div class="row mt-1 mb-3 pb-2  border-bottom">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <a href="{% url 'delete-order' b.pk %}" id="delete_{{ b.pk }}" class="mycolor" title="Delete">
                                    <i class="fas fa-trash text-secondary"></i>
                                </a>
                                <a href="{% url 'ownerinvoice' b.pk %}" class="mycolor">
                                    <b>Order № {{ b.pk }}</b>
                                    {% if b.order_status != "END" %}
                                    <U>in progress</U>
                                    {% endif %}

                                    | <span class="text-body mt-1">{{ b.time_in }}</span>
                                <br>
                                    <div class="text-body mt-1">{{ b.text_order }}</div> </a>
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                {% if b.repairer_id %}
                                <img src="../media/masters/{{ b.repairer_id.pk }}.jpg"
                                class="rounded-circle  mt-1" align="center" width="60" alt="master">
                                <a href="" class="text-secondary" title="master">
                                <b>{{ b.repairer_id|capfirst }}</b>
                                </a>
                                {% else %}
                                 <span class="text-secondary">
                                <b>Unkonw master</b>
                                </span>
                                {% endif %}

                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- end list of orders for a specific apartment -->
            </div>
        </div>
        {% endfor %}

        {% for q in list_app %}
        <!--details apartments without orders-->
        <div class="tab-content" id="content-{{ q.pk }}">
            <div class="row">
                <!--details about apartment-->
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <h4>
                        {{ q.name|default_if_none:'' }}
                    </h4>
                    <h5 class="mt-0 p-0">
                        {{ q.address_street_app }}
                        {{ q.address_num }},
                        {{ q.address_city|choice_tag:'city' }}
                    </h5>
                    <p class="text-secondary ">{{ q.notes|default_if_none:'' }}
                        <a href="{% url 'apartment_update' q.pk %}" class="mycolor" title="изменить данные">
                            <i class="fas fa-pen text-secondary"> </i>
                        </a>
                    </p>
                    {% if q.foto %}
                    <img src="../media/{{ q.foto }} "
                         alt="" class="" width="200">
                    {% endif %}

                </div>
                <!-- end details about apartment-->

                <div class="col-lg-8 col-md-8 col-sm-12">
                    <div class="mt-1 mb-2 p-2  border-5 rounded">
                        <div id="button-form-{{ q.pk }}">
                        <a id="toggleLinkq" class="fa fa-plus mycolor m-1"
                           href="javascript:void(0)" onclick="viewdiv('form-{{ q.pk }}')">
                            Add new request
                        </a>
                        </div>
                        <!-- form for order -->
                        <div id="form-{{ q.pk }}" style="display:none;" class="mb-5">
                            <form method="POST" action="" name="form_order{{ q.pk }}" id="form_order{{ q.pk }}" class="form_order">
                                 {% csrf_token %}
                                <input type="hidden"  name="customer_id" value="{{ prof.pk }}"/>
                                <input type="hidden" name="apartment_id" value="{{ q.pk }}"/>
                                <textarea name="text_order" rows="4" cols="50"></textarea>
                                <br>
                                <button type="submit" name="submit" class="btn btn-sm btn-orange cta-btn btn-form ">Send</button>
                            </form>
                        </div>
                        <!-- end form for order -->
                        <div id="list_orders-{{ q.pk }}" >
                            <h4>No orders</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

<script>
    <!--SEND ORDER -->
$(document.body).ready(function() {
    $('.form_order').submit(function(e) {
        e.preventDefault();
            $.ajax({
                url: '../',
                type: 'POST',
                data: $(this).serialize(),
                dataType: 'text',
                beforeSend: function () {},
                success: function (resp) {
                        let info=JSON.parse(resp);
                        let order_list = $('#empty-form').clone();
                        order_list.find('#order_number').html('<b>New order №'+info.pk+'</b>');
                        order_list.find('#order_number').attr('href', '/owner-invoice/'+info.pk);
                        order_list.find('#link-delete').attr('href', '../invoice/delete-order/'+info.pk);
                        let date_order=info.date.substring(0, 10).split("-").reverse().join(".");
                        order_list.find('#time_in').html(date_order);
                        order_list.find('#text').html(info.text);
                        order_list.attr('class','mt-2 mb-3 pb-2 border-bottom');
                        $('#list_orders-'+info.apartment).before(order_list);
                        $('#form-'+info.apartment).remove();
                        $('#button-form-'+info.apartment).remove();
                },
            });

    });
});

<!--SHOW ELEMENTS -->
function viewdiv(id) {
    let el = document.getElementById(id);
    if (el.style.display == "block") {
        el.style.display = "none";
    } else {
        el.style.display = "block";
    }
}

function menu_hide_show() {
    const b = $('#showallapat')
    let el = $('label');
        for (let i = 0; i < el.length; i++) {
            if (el[i].style.display == "none") {
            el.eq(i).show(700, function() {b.hide(50, function() {});});
            } else {
            el.eq(i).hide(700, function() {b.show(50, function() {});});
            }
        }
}
</script>
{% endblock body %}
