{% extends 'flatpages/default_owner.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load slippers %}
{% load static %}

{% block body %}

<div class="container">
    <div class="row mb-3" >
        <div class="col-sm-12 col-md-4 col-lg-4 mt-1" >
            <h4 class="mycolor"><b>Order № {{ info.id }}</b></h4>
            {{ info.time_in }}<br>
            <i class="fas fa-home prefix text-secondary mt-1"> </i> {{ info.apartment_id.address_city|choice_tag:'city' }}, {{ info.apartment_id.address_street_app }}, {{ info.apartment_id.address_num }}<br>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 text-secondary mt-1 h5" >
            {{ info.text_order }}
        </div>

        <div class="col-lg-4 col-md-4 col-sm-12 text-secondary mt-1" >
            <a href="" class="text-secondary">
                <img src="../media/masters/{{ info.repairer_id.pk }}.jpg"
                                class="rounded-circle" width="60">
                <b>
                    {{ info.repairer_id|default_if_none:""|capfirst }}
                </b>
            </a>
        </div>

</div>




<table id="table_invoice" class="table" >
<thead>
<tr  class="table-warning">
    <th>Name of service </th>
    <th>Quantity </th>
    <th>Price</th>
    <th >Sum</th>
    <th > </th>
</tr>
</thead>

<tbody>
{% for g in invoice %}
    <tr class="form_text">
            <td name="service_id">{{ g.service_id }}</td>
            <td name="quantity">{{ g.quantity }} </td>
            <td name="price">{{ g.price }}</td>
            <td name="amount">{{ g.amount }}</td>
    </tr>
{% endfor %}
</tbody>
<tr class="table-warning" id="total_">
    <th>
    </th>

    <th class="h5-responsive" >
        <a href="{% url 'invoice_pdf' info.id  %}" class="btn btn-light"><b>Invoice - PDF</b></a>
    </th>

    <th class="h5-responsive ">
        Total:
    </th>

    <th class="h5-responsive" id="total">
    </th>
    <th>
    </th>
</tr>
<script>
    function sum_total() {
        let sum_total=0;
        $('td[name="amount"]').each(function(){sum_total += parseInt($(this).html());});
        $('#total').html(sum_total);
    }
    sum_total();
</script>
</table>

{% endblock body %}

{% block js %}
{% endblock js %}
