{% extends 'flatpages/default_owner.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load static %}
{% load slippers %}


{% block body %}

       <div class="container">
            <div class="row">
                  <div class="col-lg-6 col-md-10 col-sm-12 pt-3 text-center">
                      <h4>{{ owner.last_name }} {{ owner.first_name }} | <strong class="mycolor"> {{ request.user.username }}</strong>
                      </h4>
                      City: {{ profile.city|choice_tag:'city' }} <a href="" class="mycolor" title="изменить данные"><i class="fas fa-pen text-secondary mt-3"> </i></a>
                      <br>
                      <img src="../media/{{ profile.foto }} " alt="Муж на час" class="rounded-circle" align="center" width="200">
                      <br>

                  </div>

                <div class="col-lg-6 col-md-10 col-sm-12 pt-3">
                    <h3>My appartments:</h3>
                        {% for i in apartments %}
                      <img src="../media/{{i.foto}}" width="100" >
                      {{i.name}} /  {{i.address_city}} /  {{i.address_street_app}} / {{i.address_street_app}} / {{i.address_num}}<br>
                        <hr>
                      {% endfor %}


                </div>
</div>
       </div>


    <!-- Modal Window -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                </div>
                <div class="modal-body  mx-3">
                    <div id="contact" class="form-container">
                        <fieldset>
                            <div id="message">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
				    </div>
                            {% #form form_order_=form form_appart_=form_appart form_customer_=form_customer %}
                            {% csrf_token %}
                            {% /form %}
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- And Modal Window -->

{% endblock body %}