{% extends "base1.html" %}
{% load cms_tags %}



{% block content %}
    <!--About Me -->
<section id="section-2">
        <div class="container">
            <div class="position-relative">
                 {% placeholder "big_title" %}
            </div>
            <div class="row py-5 justify-content-md-center">
                <div class="col-lg-6 col-md-10 col-sm-12">
<!--                    <img src="{{ STATIC_URL }}images/muzg-na-chas.jpg" alt="Муж на час" class="img-fluid z-depth-1 wow fadeInLeft" data-wow-delay="0.7s">-->
                {% placeholder "pic_title" %}
                </div>
                <div class="col-lg-6 col-md-10 col-sm-12 pt-3 wow fadeInRight" data-wow-delay="0.8s">
                  {% placeholder "text_title" %}
            </div>
        </div>
</section>
    <!-- And Text -->
{% endblock content %}
