<!DOCTYPE html><head>
</head>

<body id="top">

<!--Header-->

<table cellpadding="15" width="100%" style="font-family: Arial" >

    <tr style="background-image: url('https://www.sakhlis-remonti.ge/static/images/master-na-chas_1.jpg')"><td>
            <a href="https://www.sakhlis-remonti.ge" style="color: white; font-size: 15px">www.sakhlis-remonti.ge</a>
       	    <br><a href="https://www.sakhlis-remonti.ge"><img src="https://www.sakhlis-remonti.ge/static/images/flag_ru.png" class="flag" alt="ru" width="25"></a> |
            <a href="https://www.sakhlis-remonti.ge/en"><img src="https://www.sakhlis-remonti.ge/static/images/flag_en.png" class="flag" alt="en" width="25"></a> |
            <a href="https://www.sakhlis-remonti.ge/ge"><img src="https://www.sakhlis-remonti.ge/static/images/flag_ge.png" class="flag" alt-ge width="25"></a>

        <h2 style="color: snow" >Repair service in Georgia</h2>
                <h3 style="color: white">Write to the repairman:<br>
                <!--Telegramm-->
                <a title="Telegram" href="https://t.me/+995598259119"><img src="https://www.sakhlis-remonti.ge/static/images/telegram.gif" width="40" alt="Telegram" align="center"></a>
                <!--WhatsApp-->
                <a title="WhatsApp" href="https://wa.me/+79604458687"><img src="https://www.sakhlis-remonti.ge/static/images/whatsapp.png" width="45" alt="WhatsApp" align="center"></a>
                <!--Instagram-->
                <a href="https://www.instagram.com/repairservicetbilisi/"><img src="https://www.sakhlis-remonti.ge/static/images/instagram.png" width="50" alt="Instagram" align="center"></a>
                </h3>
    </td></tr>
<tr><td>
    <h4>To: {{ name }}</h4>
    <h3 >Technical maintenance of apartments, hotels and offices.</h3>
Do you need working hands? Our serviceman quickly will solve the problem of repair at the home or office.

    <center><a href="https://www.sakhlis-remonti.ge/createorder_en" style="   padding: 8px 15px;
    color: #D75900; border-radius: 25px; text-decoration: none; display: inline-block;
    font-size: 20px; padding-left: 25px; padding-right: 25px; font-weight: bold; margin-top: 15px;
     border: 3px solid;">Submit a repair request</a></center>
<br><hr>
    <center><img src="https://www.sakhlis-remonti.ge/static/images/card.jpg" alt="You can pay bank card" align="center" width="250">
    </center>
</td></tr>
<tr><td style="background: #0f0f0f; color: white" align="center" >

<b>Address</b>: 8 Zurab Pataridze St, Tbilisi<br><br>
    <hr>
    © 2024 | Repair services in Tbilisi
    </td></tr>

</table>
</body></html>