<!DOCTYPE html><html lang="ru" ><head>
    <title>Мастер на час в Тбилиси | Мелкие ремонтные работы: Заказать ремонтные работы</title>
</head>

<body id="top">

<!--Header-->

<table cellpadding="15" width="100%" style="font-family: Arial" >
    <tr style="background-image: url('https://www.sakhlis-remonti.ge/static/images/master-na-chas_1.jpg')"><td>
        <a class="" href="https://www.sakhlis-remonti.ge" style="color: white; font-size: 15px">www.sakhlis-remonti.ge</a> |
        <h2 style="color: snow" >Repair service in Georgia for your business</h2>
                <h3 style="color: white">Write to the repairman:
                <!--Telegramm-->
                <a class="m-1" title="Telegram" href="https://t.me/+995598259119"><img src="https://www.sakhlis-remonti.ge/static/images/telegram.gif" width="40" alt="Telegram" align="center"></a>
                <!--WhatsApp-->
                <a class="m-1" title="WhatsApp" href="https://wa.me/+79604458687"><img src="https://www.sakhlis-remonti.ge/static/images/whatsapp.png" width="45" alt="WhatsApp" align="center"></a>
                <!--Instagram-->
                <a class="m-1" href="https://www.instagram.com/repairservicetbilisi/"><img src="https://www.sakhlis-remonti.ge/static/images/instagram.png" width="50" alt="Instagram" align="center"></a>
                </h3>
    </td></tr>
<tr><td>
    <h4>To: {{ name }}</h4>
    <h3 >Техническое обслуживание офисов и апартаментов для вашего бизнеса в Грузии</h3>
вап тева оькеав оьтеар оар оькеавьатппсdfhverdh nerds bnersd bersd brGHGFsvfkcgmes;da gfbesagbwesfagd bwsdf bdsf v
        <center><a href="https://www.sakhlis-remonti.ge/createorder_en" style="   padding: 8px 15px;
    color: #D75900; border-radius: 25px; text-decoration: none; display: inline-block;
    font-size: 20px; padding-left: 25px; padding-right: 25px; font-weight: bold; margin-top: 15px;
     border: 3px solid;">Submit a repair request</a></center>
</td></tr>
<tr><td style="background: #0f0f0f; color: white" align="center" >

<b>Address</b>: 8 Zurab Pataridze St, Tbilisi<br>
    You can pay: <img src="https://www.sakhlis-remonti.ge/static/images/mastercard.svg" alt="mastercard" align="center" > |
     <img src="https://www.sakhlis-remonti.ge/static/images/visa.svg" alt="visa" align="center"  > <br>
    <hr>
    © 2024 | Repair services in Tbilisi
    </td></tr>

</table>




</body></html>