{% load static %}
{% load slippers %}

<!DOCTYPE html><html lang="ru" ><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Repair service in Tbilisi | Office and apartment maintenance for your business</title>
    <meta name="description" content="Office and apartment renovation services Tbilisi">
    <!-- Facebook -->
    <meta property="og:title" content="Handyman in Tbilisi: business and apartment maintenance">
	<meta property="og:description" content="Repair services in Tbilisi ✔ Call a technician to your home ✔ Electrician, plumber, minor apartment repairs">
	<meta property="og:image" content="images/master-na-chas.jpg">
	<meta property="og:image:width" content>
	<meta property="og:image:height" content>
	<meta property="og:site_name" content>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Owl Carusel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>

<body id="top">

<!--Header-->
{% #menu_business line='border_line_blue' %}

<li class="nav-item mr-3 active">
    <a class="nav-link" href="#section-0"><b>Main </b><span class="sr-only">(current)</span></a>
</li>
<li class="nav-item mr-3">
    <a class="nav-link" href="#section-1">Advantages</a>
</li>
<li class="nav-item mr-3">
    <a class="nav-link" href="#section-2">How we work</a>
</li>
<li class="nav-item mr-3">
    <a class="nav-link" href="#section-3">Price</a>
</li>
<li class="nav-item mr-3">
    <a class="nav-link" href="#section-4">Types of work</a>
</li>

{% if request.user.is_authenticated %}
<li class="nav-item mr-4">
    {% if request.user.groups.first.name == 'repairer' %}
    <a class="nav-link" href="{% url 'user' request.user.pk %}">
    {% elif request.user.groups.first.name == 'owner' %}
    <a class="nav-link" href="{% url 'profile' %}">
    {% endif %}
    {{ request.user }}
    </a>
    </li>
    <li class="nav-item mr-4">
        <a class="nav-link" href="{% url 'logout' %}">
            Log Out
        </a>
    </li>
{% else %}
    <li class="nav-item mr-4">
        <a class="nav-link" href="{% url 'login' %}" title='Sign in'>
            Log in
        </a>
    </li>
{% endif %}

{% /menu_business %}


<header id="section-0" class="bg_img">
<div class="corporateheader  ">
    <div class="rowcenter pad ">
        <div class="row textcotporate">
            <div class="col-lg-9 col-md-10 col-sm-12 lead">
                <h1 class="display-4 displ">Technical maintenance of<br>offices and apartments<br> for your business</h1>
                    <a class="button-like m-3" href="{% url 'createorder_en'%}" id="targetLink">Order repair</a>
            </div>
            <div class="col-lg-3 col-md-2">
                <img src="{% static 'images/logo-b.png' %}" width="240" alt="Telegram" class=" logo r">

            </div>
        </div>

        <div class="row textcotporate  pred">
            <div class="col-lg-6 col-md-6 col-sm-12 lead mt-2">
                <img src="{% static 'images/location.png'%}" width="40" class="mr-4"> Georgia, Tbilisi
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 lead mt-2">
                                    <!--Telegramm-->
                <a class="m-2" title="Telegram" href="https://t.me/+995598259119" ><img src="{% static 'images/telegram.gif' %}" width="40" alt="Telegram"></a>
                <!--WhatsApp-->
                <a class="m-2" title="WhatsApp" href="https://wa.me/+79604458687"><img src="{% static 'images/whatsapp.png' %}" width="45" alt="WhatsApp"></a>
                <!--Instagram-->
                <a class="m-2" href="https://www.instagram.com/repairservicetbilisi/"><img src="{% static 'images/instagram.png' %}" width="50" alt="Instagram"></a>
            </div>
        </div>
    </div>
</div>

</header>


<!--And Header-->

<!-- Services -->
<section id="section-1" class="">
    <div class="container">
        <div class="position-relative">
            <h2 class="header-coor" tabindex="0"><strong class="mycolorcoor">Our advantages</strong>in comprehensive technical maintenance</h2>
        </div>
        <div class="row mb-5">
            <div class="col-2 pic-coor"><img src="{% static 'images/TimeSpan.png' %}" alt="TimeSpan" width="40"></div>
            <div class="col-10 text-coor">Rapid response</div>
        </div>
        <div class="row mb-5">
            <div class="col-2 pic-coor"><img src="{% static 'images/DevelopmentSkill.png' %}" alt="DevelopmentSkill.png" width="40"></div>
            <div class="col-10 text-coor">Experienced technical experts</div>
        </div>
        <div class="row mb-5">
            <div class="col-2 pic-coor"><img src="{% static 'images/WorkLight.png' %}" alt="WorkLight" width="40" > </div>
            <div class="col-10 text-coor">Wide range of work performed</div>
        </div>

        <div class="row mb-5">
            <div class="col-2 pic-coor"><img src="{% static 'images/CardPayment.png' %}" alt="CardPayment"width="40"> </div>
            <div class="col-10 text-coor">Payment in cash, bank card and bank transfer</div>
        </div>

        <div class="row mb-5">
            <div class="col-2 pic-coor"><img src="{% static 'images/TestAccount.png' %}" alt="Account" width="40"> </div>
            <div class="col-10 text-coor">Convenient personal account on the website, where you can track the entire history
                of expenses, print an invoice for payment, and view the types of work performed.</div>
        </div>

        <div class="row mb-5">
            <div class="col-2 pic-coor"><img src="{% static 'images/Protect.png' %}" alt="Protect" width="40"> </div>
            <div class="col-10 text-coor"> Warranty for work performed</div>
        </div>


    </div>
</section>
<!-- And Services -->

<!-- How I work -->
<section id="section-2">
    <h2 class="header-coor" tabindex="0"><strong class="mycolorcoor">How do we work?</strong>
        Principles of Maintenance Work
    </h2>
    <div class="container text-coor">
        <div class="row pb-4 m-1">
            <div class="col-3 text-coor-farme p-0"><img src="{% static 'images/1.png' %}" alt="1" ></div>
            <div class="col-9 text-coor-farme frame_radius">We conclude a contract for technical maintenance of the premises for approved types of work</div>
        </div>
        <div class="row pb-4 m-1">
            <div class="col-3 text-coor-farme p-0"><img src="{% static 'images/2.png' %}" alt="2" ></div>
            <div class="col-9 text-coor-farme frame_radius">We register a personal account and a company QR code
                for high-quality and fast interaction.</div>
        </div>
        <div class="row pb-4 m-1">
            <div class="col-3 text-coor-farme p-0"><img src="{% static 'images/3.png' %}" alt="3" ></div>
            <div class="col-9 text-coor-farme frame_radius">Our service specialists regularly visit the
                premises for preventive inspection</div>
        </div>

        <div class="row pb-4 m-1">
            <div class="col-3 text-coor-farme p-0"><img src="{% static 'images/4.png' %}" alt="4" ></div>
            <div class="col-9 text-coor-farme frame_radius">We provide emergency response services in emergency situations</div>
        </div>

        <div class="row pb-4 m-1">
            <div class="col-3 text-coor-farme p-0"><img src="{% static 'images/5.png' %}" alt="4" ></div>
            <div class="col-9 text-coor-farme frame_radius">Technical support in a convenient format via messenger</div>
        </div>
    </div>
</section>
<!-- And How I work -->

<!--About Me -->
<section id="section-3">
    <h2 class="header-coor" tabindex="0">
        <strong class="mycolorcoor">Cost</strong> of maintenance work
    </h2>
    <div class="container text-coor">
        The cost of servicing an office or apartment is made up of the following:
        <ul>
        <li class="servicesLinks">List of types of maintenance work
        <li class="servicesLinks">Current state of equipment, communications of the premises
        <li class="servicesLinks">Maintenance frequency
        <li class="servicesLinks">Complexity of engineering structures
        </ul>


<div class="mycolorcoor_back">To receive an individual cost estimate, leave a request with our specialist.

When concluding a long-term service contract, we take responsibility for the coordinated and precise work of our specialists.
</div>
        <h3 class="font-weight-bold">
You no longer have to think about where to look for a good master for repair work on various tasks. We take on the solution of these tasks ourselves.</h3>

    </div>
</section>
<!-- About Me -->


<section id="section-4">
    <h2 class="header-coor" tabindex="0">
        Types of <strong class="mycolorcoor">maintenance</strong>
    </h2>
    <div class="container center text-coor" align="center">
        <div class="btn mycolorcoor_back_span text-coor">Electricity</div>
        <div class="btn mycolorcoor_back_span text-coor">Plumbing</div><br>
        <div class="btn mycolorcoor_back_span text-coor">Heating and air conditioning systems</div><br>
        <div class="btn mycolorcoor_back_span text-coor">Current minor repairs of offices</div><br>
        <div class="btn mycolorcoor_back_span text-coor">Household appliances maintenance</div>
    </div>
</section>

<!-- Footer -->
<footer class="footer_bg">
       {% #footer address_title='Address' address_name='8 Zurab Pataridze St, Tbilisi' phone_title='Contact' write_to_us_title='Write to us' master_title='Repair services in Tbilisi' %}
       {% /footer %}
</footer>
<!-- And Footer -->

    <!-- jQuery first, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <!-- Optional JavaScript -->

    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.malihu.PageScroll2id.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>


</body></html>