{% load static %}
{% load slippers %}

<!DOCTYPE html><html lang="ru" ><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Мастер на час в Тбилиси | Техническое обслуживание офисов и апартаментов для вашего бизнеса</title>
    <meta name="description" content="Услуги по ремонту офисов и апартаментов Тбилиси">
    <!-- Facebook -->
    <meta property="og:title" content="Мастер на час в Тбилиси: обслуживание бизнеса и апартаментов">
	<meta property="og:description" content="Услуги по ремонту в Тбилиси ✔ Вызвать мастера на дом ✔ Услуги электрика, сантехника, мелкий ремонт квартир">
	<meta property="og:image" content="images/master-na-chas.jpg">
	<meta property="og:image:width" content>
	<meta property="og:image:height" content>
	<meta property="og:site_name" content>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Owl Carusel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body id="top">

<!--Header-->
{% #menu_business line='border_line_blue' %}

<li class="nav-item mr-3 active">
    <a class="nav-link" href="#section-0"><b>Главная </b><span class="sr-only">(current)</span></a>
</li>
<li class="nav-item mr-3">
    <a class="nav-link" href="#section-1">Преимущества</a>
</li>
<li class="nav-item mr-3">
    <a class="nav-link" href="#section-2">Как работаем</a>
</li>
<li class="nav-item mr-3">
    <a class="nav-link" href="#section-3">Стоимость</a>
</li>
<li class="nav-item mr-3">
    <a class="nav-link" href="#section-4">Виды работ</a>
</li>

{% if request.user.is_authenticated %}
<li class="nav-item mr-4">
    {% if request.user.groups.first.name == 'repairer' %}
    <a class="nav-link" href="{% url 'user' request.user.pk %}">
    {% elif request.user.groups.first.name == 'owner' %}
    <a class="nav-link" href="{% url 'profile' %}">
    {% endif %}
    {{ request.user }}
    </a>
    </li>
    <li class="nav-item mr-4">
        <a class="nav-link" href="{% url 'logout' %}">
            Выйти
        </a>
    </li>
{% else %}
    <li class="nav-item mr-4">
        <a class="nav-link" href="{% url 'login' %}" title='Sign in'>
            Авторизоваться
        </a>
    </li>
{% endif %}

{% /menu_business %}


<header id="section-0" class="bg_img">
<div class="corporateheader  ">
    <div class="rowcenter pad ">
        <div class="row textcotporate">
            <div class="col-lg-9 col-md-10 col-sm-12 lead">
                <h1 class="display-4 displ">Техническое обслуживание<br>офисов и апартаментов<br> для вашего бизнеса</h1>
<!--                <p class="lead mt-4">Нужны мужские руки? Домашний мастер быстро решит<br> любые проблемы с ремонтом в квартире, доме и офисе!</p>-->
                    <a class="button-like m-3" href="{% url 'createorder'%}" id="targetLink">Заказать ремонт</a>
            </div>
            <div class="col-lg-3 col-md-2">
                <img src="{% static 'images/logo-b.png' %}" width="240" alt="Telegram" class=" logo r">

            </div>
        </div>

        <div class="row textcotporate  pred">
            <div class="col-lg-6 col-md-6 col-sm-12 lead mt-2">
                <img src="{% static 'images/location.png'%}" width="40" class="mr-4"> Грузия, Тбилиси
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 lead mt-2">
                                    <!--Telegramm-->
                <a class="m-2" title="Telegram" href="https://t.me/+995598259119" ><img src="{% static 'images/telegram.gif' %}" width="40" alt="Telegram"></a>
                <!--WhatsApp-->
                <a class="m-2" title="WhatsApp" href="https://wa.me/+79604458687"><img src="{% static 'images/whatsapp.png' %}" width="45" alt="WhatsApp"></a>
                <!--Instagram-->
                <a class="m-2" href="https://www.instagram.com/repairservicetbilisi/"><img src="{% static 'images/instagram.png' %}" width="50" alt="Instagram"></a>
            </div>
        </div>
    </div>
</div>

</header>


<!--And Header-->

<!-- Services -->
<section id="section-1" class="">
    <div class="container">
        <div class="position-relative">
            <h2 class="header-coor" tabindex="0"><strong class="mycolorcoor" >Наши преимущества</strong> по комплексному техническому обслуживанию</h2>
        </div>
        <div class="row mb-5">
            <div class="col-2 pic-coor"><img src="{% static 'images/TimeSpan.png' %}" alt="TimeSpan" width="40"></div>
            <div class="col-10 text-coor">Быстрое реагирование</div>
        </div>
        <div class="row mb-5">
            <div class="col-2 pic-coor"><img src="{% static 'images/DevelopmentSkill.png' %}" alt="DevelopmentSkill.png" width="40"></div>
            <div class="col-10 text-coor">Опытные технические мастера</div>
        </div>
        <div class="row mb-5">
            <div class="col-2 pic-coor"><img src="{% static 'images/WorkLight.png' %}" alt="WorkLight" width="40" > </div>
            <div class="col-10 text-coor">Широкий спектр проводимых работ(от замены лампочки до монтажа сложных конструкций и инженерных сетей)</div>
        </div>

        <div class="row mb-5">
            <div class="col-2 pic-coor"><img src="{% static 'images/CardPayment.png' %}" alt="CardPayment"width="40"> </div>
            <div class="col-10 text-coor">Оплата наличными, банковской картой и безналичным способом</div>
        </div>

        <div class="row mb-5">
            <div class="col-2 pic-coor"><img src="{% static 'images/TestAccount.png' %}" alt="Account" width="40"> </div>
            <div class="col-10 text-coor"> Удобный личный кабинет на сайте, где можно отследить всю историю расходов, распечатать
                счет на оплату, посмотреть виды выполненных работ</div>
        </div>

        <div class="row mb-5">
            <div class="col-2 pic-coor"><img src="{% static 'images/Protect.png' %}" alt="Protect" width="40"> </div>
            <div class="col-10 text-coor"> Гарантия на выполненные работы</div>
        </div>


    </div>
</section>
<!-- And Services -->

<!-- How I work -->
<section id="section-2">
    <h2 class="header-coor" tabindex="0"><strong class="mycolorcoor">Как мы работаем?</strong>
        Принципы работы по техническому обслуживанию
    </h2>
    <div class="container text-coor">
        <div class="row pb-4 m-1">
            <div class="col-3 text-coor-farme p-0"><img src="{% static 'images/1.png' %}" alt="1" ></div>
            <div class="col-9 text-coor-farme frame_radius">Заключаем договор на техническое обслуживание помещения  по утвержденным видам работ</div>
        </div>
        <div class="row pb-4 m-1">
            <div class="col-3 text-coor-farme p-0"><img src="{% static 'images/2.png' %}" alt="2" ></div>
            <div class="col-9 text-coor-farme frame_radius">Регистрируем личный кабинет и qr-код компании для качественного
                и быстрого взаимодествия.</div>
        </div>
        <div class="row pb-4 m-1">
            <div class="col-3 text-coor-farme p-0"><img src="{% static 'images/3.png' %}" alt="3" ></div>
            <div class="col-9 text-coor-farme frame_radius">Наши специалисты сервисной службы регулярно
                выезжают для профилактического осмотра помещения</div>
        </div>

        <div class="row pb-4 m-1">
            <div class="col-3 text-coor-farme p-0"><img src="{% static 'images/4.png' %}" alt="4" ></div>
            <div class="col-9 text-coor-farme frame_radius">Осуществляем срочный выезд по аварийным ситуациям</div>
        </div>

        <div class="row pb-4 m-1">
            <div class="col-3 text-coor-farme p-0"><img src="{% static 'images/5.png' %}" alt="4" ></div>
            <div class="col-9 text-coor-farme frame_radius">Техническая поддержка в удобном формате через мессенджер</div>
        </div>
    </div>
</section>
<!-- And How I work -->

<!--About Me -->
<section id="section-3">
    <h2 class="header-coor" tabindex="0">
        <strong class="mycolorcoor">Стоимость работ</strong> по техническому обслуживанию
    </h2>
    <div class="container text-coor">
        Стоимость обслуживания офиса или апартаментов формируется из следующего:
        <ul>
        <li class="servicesLinks">Перечень видов работ по обслуживанию
        <li class="servicesLinks">Текущее состояние оборудования, коммуникаций и помещения
        <li class="servicesLinks">Периодичность обслуживания
        <li class="servicesLinks">Сложность инженерных конструкций
        </ul>


<div class="mycolorcoor_back">Для получения индивидуального расчета стоимости оставьте заявку у нашего специалиста.

При заключении долгосрочнго договора на обслуживания, мы берем на себя ответственность за слаженную и четкую работу нащих специалистов.
</div>
        <h3 class="font-weight-bold">
Вам больше не придется думать, где искать хорошего мастера для ремонтных работ по разным задачам.
Мы берем решение этих задач на себя.</h3>


    </div>
</section>
<!-- About Me -->


<section id="section-4">
    <h2 class="header-coor" tabindex="0">
        Виды <strong class="mycolorcoor">технического обслуживания</strong>
    </h2>
    <div class="container center text-coor" align="center">
        <div class="btn mycolorcoor_back_span text-coor">Электрика</div>
        <div class="btn mycolorcoor_back_span text-coor">Сантехника</div><br>
        <div class="btn mycolorcoor_back_span text-coor">Отопления и кондиционирования</div><br>
        <div class="btn mycolorcoor_back_span text-coor">Текущий мелкий ремонт офисов</div><br>
        <div class="btn mycolorcoor_back_span text-coor">Обслуживание бытовой техники</div>
    </div>
</section>

<!-- Footer -->
<footer class="footer_bg">
       {% #footer address_title='Адрес' address_name='Тбилиси, ул.Зураба Патаридзе 8' phone_title='Контакты' write_to_us_title='Написать нам' master_title='Мастер на час в Тбилиси' %}
       {% /footer %}
</footer>
<!-- And Footer -->

    <!-- jQuery first, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <!-- Optional JavaScript -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.malihu.PageScroll2id.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>


</body></html>