<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    .hidden{
    display:none
    }

</style>
</head>


<body>
<form method="post" action="" name="form" id="form" class="">

    <div class="md-form mb-4">
    <input type="text" name="text_order" id="id_text_order" class="hidden">
    </div>
    <button id="delete" type="button" class="">delete</button>
    <button id="add-more__" type="button" class="">add-more</button>


</form>



<script>

const addMoreBtnInput=document.getElementById('add-more__');
addMoreBtnInput.addEventListener('click', add_new_field);
const formObj=document.getElementById('form');

const DeleteBtnInput=document.getElementById('delete');
DeleteBtnInput.addEventListener('click', delete_field);

function add_new_field(){

    const addInput=document.getElementById('id_text_order').cloneNode(true);
    addInput.setAttribute('id','form');
    addInput.setAttribute('name','text_order_new');
    addInput.setAttribute('class','');
    formObj.append(addInput);

}


function delete_field(){
    const currentFields = document.getElementsByName('text_order_new');
    const currentCountFields = currentFields.length;
    console.log(currentCountFields);
    currentFields[currentCountFields-1].remove();

}


</script>
</body>
</html>