{% load static %}
{% load slippers %}
<!DOCTYPE html><html lang="ru" ><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>Мастер на час в Тбилиси | Мелкие ремонтные работы</title>
    <meta name="description" content="Услуги по ремонту в Тбилиси ✔ Вызвать мастера на дом ✔ Услуги электрика, сантехника, мелкий ремонт квартир"">
    <!-- Facebook -->
    <meta property="og:title" content="Мастер на час в Тбилиси">
	<meta property="og:description" content="Услуги по ремонту в Тбилиси ✔ Вызвать мастера на дом ✔ Услуги электрика, сантехника, мелкий ремонт квартир">
	<meta property="og:image" content="images/master-na-chas.jpg">
	<meta property="og:image:width" content>
	<meta property="og:image:height" content>
	<meta property="og:site_name" content>

    <link rel= "preconnect" href="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>

<body>
{% #menu line='border_line_orange' %}
<li class="nav-item mr-3 active" >
    <a class="nav-link" href="#section-0" ><strong>Главная </strong><span class="sr-only">(current)</span></a>
</li>
<li class="nav-item mr-3" >
    <a class="nav-link" href="#section-1" >
        Услуги</a>
</li>
<li class="nav-item mr-3" >
    <a class="nav-link" href="#section-2" >Фото</a>
</li>
<li class="nav-item mr-3" >
    <a class="nav-link" href="#section-3" >О нас</a>
</li>

<li class="nav-item mr-3" >
    <a class="nav-link btn border border-white" href="{% url 'createorder'%}" aria-label="Форма для отправки заявки на ремонт">Заказать ремонт
    </a>
</li>

{% if request.user.is_authenticated %}
<li class="nav-item mr-4">
    {% if request.user.groups.first.name == 'repairer' %}
    <a class="nav-link" href="{% url 'user' request.user.pk %}">
    {% elif request.user.groups.first.name == 'owner' %}
    <a class="nav-link" href="{% url 'profile' %}">
    {% endif %}
    {{ request.user }}
    </a>
    </li>
    <li class="nav-item mr-4">
        <a class="nav-link" href="{% url 'logout' %}">
            Выйти
        </a>
    </li>
{% else %}
    <li class="nav-item mr-4">
        <a class="nav-link" href="{% url 'login' %}" title='Авторизация для зарегистрированных пользователей'>
            Авторизоваться
        </a>
    </li>
{% endif %}

{% /menu %}

<header id="section-0" class="bg_img">
    <div class="space text-center">
        <img src="{% static 'images/logo.png' %}" alt="Мастер на час в Тбилиси  - логотип" class="logo mt-5" width="200">
        <div class="border_head">
        <h1 class="display-4 mb-0" tabindex="0" id="targetLink">Мастер на час в Тбилиси </h1>
        <hr class="hr_"><p class="lead">Нужны мужские руки? Домашний мастер быстро решит <br>любые проблемы с ремонтом в квартире, доме и офисе!</p>
        </div>
        <div class="lead" >
            <h2>Написать мастеру </h2>
            <!--Telegramm-->
            <a class="m-2" aria-label="Связаться с мастером через Telegram" href="https://t.me/+995598259119"><img src="{% static 'images/telegram.gif' %}" width="60" alt="Telegram - иконка"></a>
            <!--WhatsApp-->
            <a class="m-2" aria-label="Связаться с мастером чперез WhatsApp" href="https://wa.me/+79604458687"><img src="{% static 'images/whatsapp.png' %}" width="65" alt="WhatsApp - иконка"></a>
            <!--Instagram-->
            <a class="m-2" aria-label="Instagram нашей компании" href="https://www.instagram.com/repairservicetbilisi/"><img src="{% static 'images/instagram.png' %}" width="70" alt="Instagram иконка"></a>
        </div>
        <div class="flex-center">
            {% if request.user.groups.first.name == 'owner' %}
            <br><a href="{% url 'profile' %}" class="btn-send btn-send-color p-3 h2 lead">Личный кабинет</a>
            {% else %}
            <a href="{% url 'createorder'%}" class="btn-send btn-send-color">Отправить заявку на ремонт</a><br>
            <a href="{% url 'business' %}" class="btn-send btn-send-color-b">Для корпоративных клиентов</a>
            {% endif %}
        </div>
    </div>
</header>


<section id="section-14" class="row_bg">
    <div class="container">
        <div class="position-relative">
    <h2 class="h1-responsive mb-4"tabindex="0"><strong class="mycolor">Как мы работаем?</strong>
        в компании "Мастер на час"
    </h2>

    <div class="container text-coor">
        <div class="row pb-4 m-1">
            <div class="col-3 text-farme p-0"><img src="{% static 'images/1_.png' %}" alt="1" ></div>
            <div class="col-9 text-farme frame_radius">Вы оставляете заказ в одном из мессенджеров
                    <a class="" aria-label="Связаться с мастером через Telegram" href="https://t.me/+995598259119"><img src="{% static 'images/telegram.gif' %}" width="30" alt="Telegram"></a>
                    <!--WhatsApp-->
                    <a class="" aria-label="Связаться с мастером через WhatsApp" href="https://wa.me/+79604458687"><img src="{% static 'images/whatsapp.png' %}" width="35" alt="WhatsApp"></a>

                или заполняете <a class="text-dark border border-1 border-dark p-2" href="{% url 'createorder'%}">форму заказа</a> на сайте.</div>
        </div>
        <div class="row pb-4 m-1">
            <div class="col-3 text-farme p-0"><img src="{% static 'images/2_.png' %}" alt="2" ></div>
            <div class="col-9 text-farme frame_radius">
                Мастер связывается с вами и, после уточнения всех деталей заказа, озвучивает стоимость и время выполнения работ.
            </div>
        </div>
        <div class="row pb-4 m-1">
            <div class="col-3 text-farme p-0"><img src="{% static 'images/3_.png' %}" alt="3" ></div>
            <div class="col-9 text-farme frame_radius">
                В согласованное время мастер выполняет все необходимые работы.
            </div>
        </div>

        <div class="row pb-4 m-1">
            <div class="col-3 text-farme p-0"><img src="{% static 'images/4_.png' %}" alt="4" ></div>
            <div class="col-9 text-farme frame_radius">
                Вы оплачиваете работу картой <img src="static/images/mastercard.svg" alt="mastercard" >
                <img src="static/images/visa.svg" alt="visa"> или наличными.
            </div>
        </div>

        <div class="row pb-4 m-1">
            <div class="col-3 text-farme p-0"><img src="{% static 'images/5_.png' %}" alt="5" ></div>
            <div class="col-9 text-farme frame_radius">
                Вы получаете гарантию на выполненную работу.
            </div>
        </div>
    </div>
</div>
        </div>
</section>

<!-- Services -->
<section id="section-1">
    <div class="container">
        <div class="position-relative">
            <h2 class="h1-responsive" tabindex="0">Услуга <strong class="mycolor">"Мастер на час"</strong></h2>
        </div>
        <div class="row">
                    {% #card name_service="Услуги электрика" name_service1="Ремонт выключателя, розетки" name_service2="Монтаж счетчика" name_service3="Прокладка электропроводки" %}
                    <a href='/electricianservices' class='text-secondary' aria-label="Электромонтажные работы: подробнее об услугах">
                        <img src="{% static 'images/electro1.png' %}" alt="" class="card_img">
                        <img src="{% static 'images/electro2.png' %}" alt="" class="card_img">
                        <img src="{% static 'images/electro3.png' %}" alt="" class="card_img">
                    </a>
                    {% /card %}
                    {% #card name_service="Услуги сантехника" name_service1="Устранение засора" name_service2="Установка раковины, унитаза, смесителя" name_service3="Устранение протечки крана"  %}
                    <a href='/plumbing' class='text-secondary' aria-label="Услуги сантехника: подробнее об услугах">
                        <img src="{% static 'images/plumber1.png' %}" alt="" class="card_img">
                        <img src="{% static 'images/plumber2.png' %}" alt="" class="card_img">
                        <img src="{% static 'images/plumber3.png' %}" alt="" class="card_img">
                    </a>
                    {% /card %}
                    {% #card name_service="Ремонт бытовой техники" name_service1="<a href='/dishwasher' class='text-secondary'>Посудомоечные машины</a>" name_service2="<a href='/repairwashingmachine' class='text-secondary'>Стиральные машины и сушильные машины</a>" name_service3="Духовки и печки"  %}
                        <img src="{% static 'images/repair1.png' %}" alt="" class="card_img">
                        <img src="{% static 'images/repair2.png' %}" alt="" class="card_img">
                        <img src="{% static 'images/repair3.png' %}" alt="" class="card_img">
                    {% /card %}
                    {% #card name_service="Реставрация и ремонт мебели" name_service1="Ремонт поврежденных поверхностей" name_service2="Замена поврежденных элементов" name_service3="Сборка и монтаж мебели"  %}
                    <a href='/furniturerepair' class='text-secondary' aria-label="Реставрация и ремонт мебели: подробнее об услугах">
                        <img src="{% static 'images/furniture1.png' %}" alt="" class="card_img">
                        <img src="{% static 'images/furniture2.png' %}" alt="" class="card_img">
                        <img src="{% static 'images/furniture3.png' %}" alt="" class="card_img">
                    </a>
                    {% /card %}
                    {% #card name_service="Установка бытовой техники" name_service1="Монтаж сплит-системы" name_service2="Установка холодильников, духовок" name_service3="Подключение стиральные машины"  %}
                        <img src="{% static 'images/install1.png' %}" alt="" class="card_img">
                        <img src="{% static 'images/install2.png' %}" alt="" class="card_img">
                        <img src="{% static 'images/install3.png' %}" alt="" class="card_img">
                    {% /card %}
                    {% #card name_service="Мелкий ремонт в квартире" name_service1="Монтаж карнизов и плинтусов" name_service2="Ремонт межкомнатных дверей" name_service3="Повесить картину, телевизор, люстру"  %}
                        <img src="{% static 'images/flat1.png' %}" alt="" class="card_img">
                        <img src="{% static 'images/flat2.png' %}" alt="" class="card_img">
                        <img src="{% static 'images/flat3.png' %}" alt="" class="card_img">
                    {% /card %}
        </div>
    </div>
</section>

<section id="section-2" class="accordion-bg text-center">
    <div class="container">
        <h2 class="h1-responsive" tabindex="0">Фото работ<strong class="mycolor"> "Мастер на час" </strong></h2>
        <div class="card" style="width: 18rem;    display: inline-block;">
          <img src="{% static 'images/1.jpg' %}" class="card-img-top" alt="Установка проектора">
          <div class="card-body">
            <p class="card-text">Установка проектора и экрана</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;     display: inline-block;">
          <img src="{% static 'images/2.jpg' %}" class="card-img-top" alt="Монтаж кодового замка">
          <div class="card-body">
            <p class="card-text">Установка кодового замка</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;     display: inline-block;">
          <img src="{% static 'images/3.jpg' %}" class="card-img-top" alt="освещение">
          <div class="card-body">
            <p class="card-text">Монтаж освещения на кухне</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;     display: inline-block;">
          <img src="{% static 'images/4.jpg' %}" class="card-img-top" alt="сборка мебели">
          <div class="card-body">
            <p class="card-text">Монтаж панелей, мебели, телевизора, освещения</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;     display: inline-block;">
          <img src="{% static 'images/5.jpg' %}" class="card-img-top" alt="электромонтажные работы">
          <div class="card-body">
            <p class="card-text">Электромонтажные работы: сборка щита</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;     display: inline-block;">
          <img src="{% static 'images/6.jpg' %}" class="card-img-top" alt="монтаж отопления">
          <div class="card-body">
            <p class="card-text">Установка радиаторов</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;     display: inline-block;">
          <img src="{% static 'images/7.jpg' %}" class="card-img-top" alt="стиральная машина">
          <div class="card-body">
            <p class="card-text">Ремонт стиральных машин</p>
          </div>
        </div>

        <div class="card" style="width: 18rem;     display: inline-block;">
          <img src="{% static 'images/8.jpg' %}" class="card-img-top" alt="сплит-система кондиционер">
          <div class="card-body">
            <p class="card-text">Установка сплит-системы</p>
          </div>
        </div>
    </div>
</section>

<section id="section-3">

    <h2 class="h1-responsive" tabindex="0">
        Мастер на час в Тбилиси:
        <strong class="mycolor">
            принципы работы
        </strong>
    </h2>
    <!--Container-->
    <div class="container">
        <!--First row-->
        <div class="row features-small my-5 pt-5">
            <!--First column-->
            <div class="col-md-4">
                <!--First row-->
                {% #container head_name="Профессионализм" text="В нашей команде опытные специалисты с многолетним стажем."  %}
                {% /container %}
                <!--/First row-->
                <!--Second row-->
                {% #container head_name="Современный инструмент" text="Мы используем в работе только качественные инструменты и расходные материалы."  %}
                {% /container %}
                <!--/Second row-->
                <!--Third row-->
                {% #container head_name="Быстрая помощь" text="Срочный выезд в течение часа."  %}
                {% /container %}
                <!--/Third row-->
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-4 flex-center mb-4">
                <img src="{% static 'images/o-mastere-na-chas.png' %}" alt="Мастер на час услуга" class="z-depth-0 img-fluid">
            </div>
            <!--/Second column-->

            <!--Third column-->
            <div class="col-md-4">
                <!--First row-->
                {% #container head_name="Порядочность" text="Гарантируем качественную и ответственную работу."  %}
                {% /container %}
                <!--/First row-->
                <!--Second row-->
                {% #container head_name="Бережное обращение с имуществом клиента" text="Мы не испортим пол, мебель, стены. Убираем мусор за собой."  %}
                {% /container %}
                <!--/Second row-->
            </div>
            <!--/Third column-->

        </div>
        <!--/First row-->
    </div>
    <!--/Container-->

</section>

<section id="section-4">
    <div class="container">
        <div class="position-relative">
            {% #about_me head="«Мастер на час»<strong  class='mycolor'> всегда на связи</strong>" %}
            <ul>
            <li>Пн-Пт: 9.00-18.00
            <li>Суб: 9.00-15.00
            <li>Воск: выходной
            </ul>
            <p><i class="fas fa-quote-left pr-2"></i>Мы готовы приехать на вызов в <strong>любое время в экстренной ситуации.</strong></p>
                        <h3><i class="fas fa-wrench fa-sm mr-3"></i>Режим работы: КРУГЛОСУТОЧНО! (в экстренной ситуации)</h3>
                        <p>Наша команда имеет многолетний опыт работы по данному направлению. Предлагаем только качественное решение вашей проблемы будь-то поломаный выключатель, скрипящая дверь, протекающая сантехника.</p>
                        <blockquote class="blockquote">
                            <p class="mb-0">Контактная информация: +995 598259119</p>
                            <footer class="blockquote-footer">Ремонт - наша работа.
                            </footer>
                        </blockquote>
            {% /about_me%}
        </div>
    </div>
</section>

<footer class="footer_bg" role="contentinfo">
       {% #footer address_title='Адрес' address_name='Тбилиси, ул.Зураба Патаридзе 8' phone_title='Контакты' write_to_us_title='Написать нам' master_title='Мастер на час в Тбилиси' %}
       {% /footer %}
</footer>


<!-- jQuery first, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>

    <!-- Optional JavaScript -->
<!--    <script src="{% static 'js/owl.carousel.min.js' %}"></script>-->
    <script src="{% static 'js/jquery.malihu.PageScroll2id.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

</body></html>