{% load static %}
{% load slippers %}


<!DOCTYPE html><html lang="ru" prefix="og: http://ogp.me/ns#"><head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- Fav Icon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <title>ოსტატი ერთი საათით თბილისში | მცირე სარემონტო სამუშაოები</title>
    <meta name="description" content="სარემონტო მომსახურება თბილისში ✔ ბინის მცირე რემონტი ✔">
    <!-- Facebook -->
	<meta property="og:title" content="ოსტატი ერთი საათით თბილისში">
	<meta property="og:description" content="სარემონტო მომსახურება თბილისში ✔ ბინის მცირე რემონტი ✔">
	<meta property="og:image" content="images/master-na-chas.jpg">
	<meta property="og:image:width" content>
	<meta property="og:image:height" content>
	<meta property="og:site_name" content>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Owl Carusel -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <!-- Custom Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
</head>

<body id="top">

<!--Header-->
{% #menu %}

<li class="nav-item mr-4 active">
    <a class="nav-link" href="#section-0">მთავარი <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item mr-4">
    <a class="nav-link" href="#section-1">სერვისები</a>
</li>
<li class="nav-item mr-4">
    <a class="nav-link" href="#section-3">ფოტო</a>
</li>
<li class="nav-item mr-4">
    <a class="nav-link" href="#section-2">ფოტო</a>
</li>

{% if request.user.is_authenticated %}
<li class="nav-item mr-4">
    {% if request.user.groups.first.name == 'repairer' %}
    <a class="nav-link" href="{% url 'list_order' %}">
    {% elif request.user.groups.first.name == 'owner' %}
    <a class="nav-link" href="{% url 'profile' %}">
    {% endif %}
    {{ request.user }}
    </a>
    </li>
    <li class="nav-item mr-4">
        <a class="nav-link" href="{% url 'logout' %}">
            Выйти
        </a>
    </li>
{% else %}
    <li class="nav-item mr-4">
        <a class="nav-link" href="{% url 'login' %}" title='Sign in'>
            Авторизоваться
        </a>
    </li>
    <li class="nav-item mr-4">
        <a class="nav-link" href="{% url 'signup' %}" title='Sign in'>
            Регистарция
        </a>
    </li>
{% endif %}

{% /menu %}


<header id="section-0" class="bg_img jarallax _mPS2id-t mPS2id-target mPS2id-target-first mPS2id-target-last" data-jarallax="{'speed': 0.2}">
    <div class="space">
        <div class="text-center">
            <h1 class="h1-responsive display-4 wow fadeIn animated" data-wow-delay="1s" style="visibility: visible; animation-name: none; animation-delay: 1s;">ოსტატი ერთი საათით თბილისში<a href="https://www.instagram.com/repairservicetbilisi/"><img src="{% static 'images/instagram.png' %}" width="60" alt="Instagram"></a> </h1>
            <p class="lead py-3 wow fadeIn animated" data-wow-delay="1s" style="visibility: visible; animation-name: none; animation-delay: 1s;">გჭირდება მამაკაცის ხელები? სახლის ოსტატი სწრაფად გადაწყვეტს ბინაში, სახლსა და ოფისში რემონტის პრობლემა არ არის!</p>
            <p class="lead py-3 ">
                მისწერეთ ოსტატს::
                    <!--Telegramm-->
                    <a class="mx-2" title="Telegram" href="https://t.me/+995598259119"><img src="{% static 'images/telegram.gif' %}" width="50" alt="Telegram"></a>
                    <!--WhatsApp-->
                    <a class="mx-2" title="WhatsApp" href="https://wa.me/+79604458687"><img src="{% static 'images/whatsapp.png' %}" width="55" alt="WhatsApp"></a>
            </p>
            <div class="flex-center">
                <button class="btn btn-lg btn-orange cta-btn btn-form mt-3 mb-5 wow fadeIn" data-toggle="modal" data-target="#exampleModal" data-wow-delay="1s">
                    Send request <i class="far fa-paper-plane animated tada delay-5s infinite ml-1"></i>
                </button>
                <br><img src="{% static 'images/card.jpg' %}" class="item" width="350" alt="Оплата картой за услуги &quot;Мастер на час&quot;">
            </div>
        </div>
    </div>
</header>


<!--And Header-->

<!-- Services -->
<section id="section-1" class="row_bg">
    <div class="container">
        <div class="position-relative">
            <h2 class="h1-responsive">სერვისი<strong class="mycolor">"ოსტატი ერთი საათის განმავლობაში"</strong></h2>
        </div>
        <div class="row">
            <div class="col-12 columns mt-4">
                <div class="owl-carousel owl-theme pt-5">
                    {% #card name_service="ელექტრიკოსის მომსახურება" name_service1="გადამრთველის, სოკეტის შეკეთება" name_service2="მრიცხველის მონტაჟი" name_service3="გაყვანილობა" %}
                        <img src="{% static 'fonts/broken-cable.svg' %}" class="rounded-circle img-fluid">
                    {% /card %}
                    {% #card name_service="სანტექნიკის მომსახურება" name_service1="ბლოკირების მოცილება" name_service2="ნიჟარის, ნიჟარის, ტუალეტის, ონკანის დაყენება" name_service3="გაჟონვის ონკანის შეკეთება"  %}
                        <img src="{% static 'fonts/leak.svg' %}" class="rounded-circle img-fluid">
                    {% /card %}
                    {% #card name_service="ავეჯის აწყობა" name_service1="კარადები, დივნები, სამზარეულოები" name_service2="ჩაშენებული ტექნოლოგიის მონტაჟი" name_service3="ტვირთის ატანა სართულზე"  %}
                        <img src="{% static 'fonts/living-room.svg' %}" class="rounded-circle img-fluid">
                    {% /card %}
                    {% #card name_service="მცირე რემონტი ბინაში" name_service1="კარნიზების და საფენების მონტაჟი" name_service2="შიდა კარების შეკეთება" name_service3="სურათის დაკიდვა კედელზე, ტელევიზორი, ჭაღი"  %}
                        <img src="{% static 'fonts/living-room.svg' %}" class="rounded-circle img-fluid">
                    {% /card %}
                    {% #card name_service="საყოფაცხოვრებო ტექნიკის მონტაჟი" name_service1="გაყოფილი სისტემები" name_service2="მაცივრები" name_service3="სარეცხი მანქანები"  %}
                        <img src="{% static 'fonts/washing-machine.svg' %}" class="rounded-circle img-fluid">
                    {% /card %}
                    {% #card name_service="ოფისის მცირე რემონტი" name_service1="საოფისო ავეჯი" name_service2="წყლის გამაგრილებლების მოვლა: გაწმენდა, შეკეთება" name_service3="სპლიტ სისტემის მოვლა"  %}
                        <img src="{% static 'fonts/3d-buildings.svg' %}" class="rounded-circle img-fluid">
                    {% /card %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- And Services -->

<!-- Foto -->
<section id="section-3" class="accordion-bg">
<!-- Testimonials -->
<section class="text-center cloudy-knoxville-gradient">
    <div class="container">
        <!-- Section heading -->
        <h2 class="h1-responsive">ჩვენი ნამუშევრების ფოტოები</h2>

        <div class="wrapper-carousel-fix py-4">
            <!-- Carousel Wrapper -->
            <div id="carousel-example-1" class="carousel no-flex testimonial-carousel slide carousel-fade" data-ride="carousel" data-interval="false">
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    {% #carusel active="active" text=""  %}
                        <img src="{% static 'images/1.jpg' %}" class="" width='250' alt="ნამუშევრების ფოტო გალერეა">
                    {% /carusel %}
                    {% #carusel text=""  %}
                        <img src="{% static 'images/2.jpg' %}" class="" width='250' alt="ნამუშევრების ფოტო გალერეა">
                    {% /carusel %}
                    {% #carusel text=""  %}
                        <img src="{% static 'images/3.jpg' %}" class="" width='250' alt="ნამუშევრების ფოტო გალერეა">
                    {% /carusel %}
                </div>
                <!--Slides-->
                <!--Controls-->
                <a class="carousel-control-prev left carousel-control" href="#carousel-example-1" role="button" data-slide="prev">
                    <span class="icon-prev" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next right carousel-control" href="#carousel-example-1" role="button" data-slide="next">
                    <span class="icon-next" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
                <!--Controls-->
            </div>
            <!-- Carousel Wrapper -->
        </div>
    </div>
    <!-- Container -->
</section>
<!-- Testimonials -->
</section>
<!-- And Foto -->

<!-- How I work -->
<section>
    <h2 class="h1-responsive">
      ოსტატი ერთი საათის განმავლობაში თბილისში: მუშაობის პრინციპები.
    </h2>
    <!--Container-->
    <div class="container">
        <!--First row-->
        <div class="row features-small my-5 pt-5 wow fadeIn" data-wow-delay="0.6s">
            <!--First column-->
            <div class="col-md-4">
                <!--First row-->
                {% #container head_name="პროფესიონალიზმი" text="ჩვენი გუნდი შედგება მრავალწლიანი გამოცდილების მქონე გამოცდილი პროფესიონალებისგან."  %}
                {% /container %}
                <!--/First row-->
                <!--Second row-->
                {% #container head_name="თანამედროვე ხელსაწყოები" text="სამუშაოში ვიყენებთ მხოლოდ მაღალი ხარისხის იარაღს და სახარჯო მასალას."  %}
                {% /container %}
                <!--/Second row-->
                <!--Third row-->
                {% #container head_name="სწრაფი დახმარება" text="სასწრაფო გამგზავრება საათში."  %}
                {% /container %}
                <!--/Third row-->
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-4 flex-center mb-4">
                <img src="{% static 'images/o-mastere-na-chas.png' %}" alt="" class="z-depth-0 img-fluid">
            </div>
            <!--/Second column-->

            <!--Third column-->
            <div class="col-md-4">
                <!--First row-->
                {% #container head_name="კეთილსინდისიერება" text="ჩვენ გარანტიას ვაძლევთ მაღალი ხარისხის და პასუხისმგებლობით მუშაობას"  %}
                {% /container %}
                <!--/First row-->
                <!--Second row-->
                {% #container head_name="კლიენტის ქონებასთან ფრთხილად მოვლა" text="ჩვენ არ დავაზიანებთ იატაკს, ავეჯს, კედლებს. ჩვენ ვასუფთავებთ ჩვენს ნაგავს."  %}
                {% /container %}
                <!--/Second row-->
            </div>
            <!--/Third column-->

        </div>
        <!--/First row-->
    </div>
    <!--/Container-->

</section>
<!-- And How I work -->

<!--About Me -->
<section id="section-2">

    {% #about_me head="ოსტატი ერთი საათით  ყოველთვის კავშირშია" img="images/muzg-na-chas.jpg" %}

    <p><i class="fas fa-quote-left pr-2"></i>ჩვენ მზად ვართ გამოძახებაზე მივიდეთ ნებისმიერ დროს საგანგებო სიტუაციებში. სამუშაო საათები: მთელი საათის განმავლობაში!</p>
                <h4><i class="fas fa-wrench fa-sm mr-3"></i></h4>
                <p>
                    ჩვენს გუნდს აქვს მრავალწლიანი გამოცდილება ამ სფეროში. ჩვენ გთავაზობთ
			        მხოლოდ მაღალხარისხიან გადაწყვეტას თქვენი პრობლემის გადასაჭრელად,
                        იქნება ეს გატეხილი გადამრთველი, ჭრიალი კარი, გაჟონვა სანტექნიკა.
                </p>
                <blockquote class="blockquote">
                    <p class="mb-0">საკონტაქტო ინფორმაცია: +995 598259119</p>
                    <footer class="blockquote-footer">რემონტი ჩვენი სამუშაოა
                    </footer>
                </blockquote>
    {% /about_me%}
</section>
<!-- About Me -->

<!-- Footer -->
<footer id="section-5" class="footer_bg">
{% #footer address_title='მისამართი' address_name='თბილისი, ქ. ზურაბ პატარიძის 8' phone_title='საკონტაქტო' write_to_us_title='მოგვწერეთ' master_title='ოსტატი ერთი საათით თბილისში' %}
{% /footer %}

</footer>
<!-- And Footer -->

    <!-- Modal Window -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                </div>
                <div class="modal-body  mx-3">
                    <div id="contact" class="form-container">
                        <fieldset>
                            <div id="message">
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                                </button>
				    </div><div id="answer"></div>
                            {% #form form_order_=form form_appart_=form_appart form_customer_=form_customer %}
                            {% csrf_token %}
                            {% /form %}
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- And Modal Window -->

    <!-- jQuery first, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/mdb.min.js' %}"></script>
    <!-- Optional JavaScript -->

    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.malihu.PageScroll2id.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
	<script type="text/javascript">
        $(document).ready(function() {
            new WOW().init();
        });
    </script>

<script>
$(document.body).ready(function() {
    $('#form').submit(function(e) {
        e.preventDefault();
        $.ajax({
            url: '',
            type: 'POST',
            data: $(this).serialize(),
            dataType: 'text',
            beforeSend: function () {$("#form").html('<h3>Отправляется...</h3>');},
            success: function (resp) {
                let mes=JSON.parse(resp);
                if (mes.auth==true) {
                    window.location.href = '/list_order/'+mes.pk;
                    }
                else {
                    $("#form").html(' ');
                    $("#answer").html(mes.message+mes.contact);

                    }
                },
            });
    });
});
</script>
</body></html>