{% extends 'flatpages/common_blank.html' %}

{% load static %}


{% block title %}Ремонт квартир и офисов в Тбилиси{% endblock title %}

{% block content %}Ремонт квартир и офисов в Тбилиси{% endblock content %}

{% block facebookcontent %}Ремонт квартир в Тбилиси{% endblock facebookcontent %}

{% block facebookdescription %}Ремонт сантехники Тбилиси: прокладка труб, монтаж запорной арматуры, кранов, установка водонагревателей,
монтаж унитаза.
{% endblock facebookdescription %}


{% block button %}Заказать услуги сантехника{% endblock button %}

{% block body %}

<h2 class="mt-0">Услуги сантехника</h2>
<p>Нужен надежный мастер по ремонту сантехники, тогда это к нам. Мы приложим максимум усилий и нашего опыта при сантехнических работах для вашего дома,
офиса или промышленного предприятия.
<ul class="ml-5">
    <li>Ремонт крана и запорной арматуры</li>
    <li>Монтаж унитазов, душевых кабин и джакузи</li>
    <li>Установка фильтра для воды</li>
    <li>Прокладка и ремонт водопроводных труб</li>
    <li>Подключение к водопроводу различного оборудования: ледогенераторов, кофемашин, стриальных и
        посудомоечных машин бытового и промышленного назначения </li>
</ul>

</p>
<hr>
<h3>Фотографии <h3>

<!--<img src="{% static 'images/furniture1.jpg' %}" alt="" width="300">-->
    <hr>


<h3>Отправить заявку на ремонт сантехники</h3>
<a class="btn border-danger mycolor mr-1 ml-1 w-100" href="{% url 'createorder'%}">
Заказать ремонт </a>
{% endblock body %}
