{% extends 'default.html' %}

{% block bodyinfo %}

<form id="form" >
 {% csrf_token %}

<table width="500" border="1">
    <tr>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>День рождения</th>
        <th>Почта</th>
   </tr>
    {% for i in mail_list %}

    <tr>
        <td><input type="checkbox" name="id" value={{ i.id }}> </td>

        <td>{{ i.l_name }} </td>
        <td>{{ i.s_name }}</td>
        <td>{{ i.birthday }}</td>
        <td>{{ i.email }}</td>
   </tr>
    {% endfor %}
</table>

                                    <h1><div id="message"></div></h1>
                                <div class="md-form mb-4">
                                        {{ form.news_text.errors }}
                                        {{ form.news_text }}
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <input class="btn unique-color-dark text-white" type="submit" id="btn" name="send" value="Отправить">
                                </div>
                            </form>


{% endblock bodyinfo %}
