@charset "utf-8";

/*********************************************
		Base css
*********************************************/
* {
    margin: 0;
    padding: 0;
}

:root {
  --text-color: #15171d;
  --span-color: #D75900;
  --span-color-corporate:#00ACFF;
  --span-color-frame: #CCEEFF;

}

body {
    color: var(--text-color);
    background-color: #ffffff;
	line-height: 1.5;
    font-size: 1rem;
	height: 100%;
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h2, h3{
	text-align: center;
	margin-top: 3rem;
    position: relative;
}

a:hover, a:active {
      text-decoration: none;
      border: none;
 }

h2:focus, button:focus, textarea:focus, input:focus, a:focus {
    border: 4px;
    border-color:  var(--span-color);
    border-style: dashed;
}

 a {
	 color: #fefefe;
 }

section {
	padding: 3rem 0px;
}


section h1 {
    font-family: Cygre-ExtraBold;
    color: #FFFFFF;
}

.corporateheader {
    margin-top: 100px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: -3px;
    border-radius: 0px 50px 50px 0px;
    backdrop-filter: blur(8px);
    border: 3px solid;
    border-color: var(--span-color-corporate);
    height: 75%;
    padding-top: 10px;
}

.rowcenter {
    display: flex;
    flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
    padding-top: 5px;

}

.pred {
    height: 100%;
    display: flex;
	align-items: flex-end;
    padding-top: 5px;

}

.header-coor {
        font-family: Cygre-ExtraBold;
}

.mycolorcoor {
    background: var(--span-color-corporate);
    color: #FFFFFF;
    padding: 5px;
}

.mycolorcoor_back {
    background: var(--span-color-frame);
    padding: 35px;
    border-radius: 50px 50px 50px 50px;
    text-align: justify;
    margin-bottom: 35px;
}

.mycolorcoor_back_span {
    background: var(--span-color-frame);
    padding: 25px;
    border-radius: 10px;
    margin: 15px;
}

.pic-coor {
  display:flex;
  align-items:center;
  justify-content: flex-end;
}


.text-coor-farme {
    background: var(--span-color-frame);
    padding-bottom: 0px;
    padding-top: 0px;
    align-content: center;
}

.text-farme {
    background: #F8680133;
    padding-bottom: 0px;
    padding-top: 0px;
    align-content: center;
}

.frame_radius {
    border-radius: 0px 50px 50px 0px;
}

.textcotporate {
    max-width: 1300px;
    width: 100%;
}

.text-coor {
    font-size: 25px;
}

.r {
    display: flex;
	justify-content: flex-end;
  }
.pad {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.button-like {
  padding: 10px 15px;
  background-color: var(--span-color-corporate);
  color: white;
  border: none;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
}

.button-like_ {
  color: white;
  border-radius: 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;

    backdrop-filter: blur(30px);
    border: 1px solid;
    border-color: var(--span-color-corporate);
}

header {
	height: 100vh;
	overflow: hidden;
	position: relative;
}

header + div {
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
    font-family: Cygre-ExtraBold;
    color: #FFFFFF;
}

.border_head {
    margin: 0 auto;
    width: 60%;
    border: 3px solid;
    border-color:var(--span-color);
    border-radius:20px;
    backdrop-filter: blur(100px);
    padding:5px;
}
.displ {
    font-size: 3.0rem;
    line-height: 1.2;
}


.bg_img {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.48)), url(../images/muzg-na-chas1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100%;
}

.bottom {
    margin-bottom: 0px;
    padding-bottom: 0px;
}


.flag {
	width: 25px;
	margin-left: 5px;
	margin-right: 5px;
}

.navbar {
    font-size: 18px;
    font-weight: 400;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    z-index: 2;
}

.border_line_blue {
    border-bottom: var(--span-color-corporate);
    border-style: solid;
}

.border_line_orange {
    border-bottom: var(--span-color);
    border-style: solid;

}

.navbar-brand {
	font-size: inherit;
	text-decoration-line: underline!important;
}

.navbar-brand:hover{
	color: #F57C00!important;
	transition: color 0.5s linear;
}

.btn-rounded {
    border-radius: 10em;
}

#navigation-menu a.mPS2id-highlight {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
    background-color: rgba(255, 255, 255, 0);
}

a {
    text-decoration: none!important;
	color: #fefefe;
}

.btn-order {
    font-weight: bold;
    background-color: #FFFFFF;
    font-size: 1.4em;
    border-radius: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

.btn-send {
    padding: 8px 8px;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: bold;
    margin-top: 15px;
    backdrop-filter: blur(30px);
    border: 2px solid;
    /*border-color: var(--span-color);*/
    transition: 1.0s;
}


.btn-send-color  {
    border-color: var(--span-color);
}

.btn-send-color:hover {
    color: var(--span-color);
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}

.btn-send-color-b {
    border-color: var(--span-color-corporate);
}

.btn-send-color-b:hover {
    color: var(--span-color-corporate);
    border-color: #FFFFFF;
    background-color: #FFFFFF;
}

button[type=submit], button[type=submit]:hover  {
    background: #ffffff;
    border-color: var(--span-color);
    color: var(--span-color);
}

.cta-btn:hover {
    background-color: transparent!important;
    color: #f7f3f3;
    border-color: #f7f3f3;
    transition: all 0.8s linear;
}

h1.display-4 {
    margin-top: 0px;
    position: relative;
}

.mycolor {
	color: var(--span-color);
}

.mycolorcorporate {
	color: var(--span-color);
}

.display-4 {
    font-weight: 800;
}

.lead {
    font-size: 1.50rem;
    font-weight: 400;
    color: rgb(255, 255, 255);

}

.space {
	padding: 1rem 1rem 1rem;


}


/*********************************************
		Services css
*********************************************/

h3.services_h {
    font-family: Cygre-ExtraBold;
    font-weight: bold;
    color: #FFFFFF;
	text-align: left;
	margin: 0.7rem;

}

.card_border{
  margin: 10px;
  border: 2px solid #2F2F2F;
  border-radius: 20px 20px 20px 0;
  padding: 0;
  background: #FFFFFF;

}

.card_img {
  margin-top:0;
  margin-left: 15px;
  margin-bottom:15px;
  width:50px;
}

.card_header{
  border: 2px solid #2F2F2F;
  border-radius: 15px 15px 20px 0;
  padding: 0;
  background: #2F2F2F;
  font-size: 2rem;

}

.card_body{
    font-size: 1rem;
    color: #111010;
    font-weight: 400;
}

ul,
ul.servicesLinks {
    list-style-image:url(../images/pic-list.png);
    position: relative;
    margin-left: 80px;
    margin-bottom: 20px;
    margin-top: 20px;

}



/* Carusel */

.divphoto {
    display: inline-block;
}

button:focus {
    outline: 0px auto -webkit-focus-ring-color;
}

/*********************************************
		Footer css
*********************************************/

.footer_bg {
    background-color: var(--text-color);
	padding-top: 3rem;
}

footer h4 {
    position: relative;
    color: #fcffff;
	text-align: center;
}

footer p {
    text-align: justify;
    color: #fcffff;
}

footer h4:after {
    position: absolute;
    content: "";
    top: 37px;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    height: 1px;
    background-color: rgba(245, 177, 110, 0.3);
}

footer hr {
    background-color: rgba(254, 187, 121, 0.2);
}

.footer-copyright a:hover {
	color: rgba(245, 177, 110, 0.3);
}







.skip-link {

  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  padding:10px;
}
.skip-link:focus {
  position: static;
  width: auto;
  height: auto;
}









/*****************************************
		Media Screen
*****************************************/

@media(min-width: 320px) and (max-width: 576px) {
    .r {
     display: none;
    }

.border_head {
    width: 100%;
}

    .text-coor {
    font-size: 18px;
}


    .textcotporate {
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    text-align: left;

}


    .display-4 {
        font-size: 2.0rem;
        line-height: 1.2;

    }

    .display-small {
        font-size: 1.5rem;
        line-height: 1.2;

    }

    .lead {
        font-size: 1.2rem;
    }

    .logo {
        margin-top: 50px;
        margin-bottom: 0px;
        width: 100px;
    }

    .navbar {
        background-color: rgba(28, 35, 49, 0.93);
    }

	.testimonial-carousel .testimonial {
		margin-left:  15%;
		margin-right:  15%;
	}

}

@media(min-width: 577px) and (max-width: 767.8px) {
    .r {
         display: none;
    }

.border_head {
    width: 100%;
}


    .text-coor {
    font-size: 18px;
}

    .display-4 {
        font-size: 2.5rem;
        line-height: 1.2;
    }
      .navbar {
        background-color: rgba(28, 35, 49, 0.93);
    }

    .logo {
        margin-top: 50px;
        margin-bottom: 0px;
        width: 150px;
    }


    .lead {
        font-size: 1.2rem;
    }


}

@media(min-width: 768px) and (max-width: 1024px) {
    .r {
 display: none;
}

.border_head {
    width: 100%;
}

      .navbar {
        background-color: rgba(28, 35, 49, 0.93);
    }

 .display-4 {
        font-size: 2.8rem;
        line-height: 1.4;
    }
      .navbar {
        background-color: rgba(28, 35, 49, 0.93);
    }

    .logo {
        margin-top: 50px;
        margin-bottom: 0px;
        width: 150px;
    }


    .lead {
        font-size: 1.2rem;
    }


}

@media(min-width: 1025px) and (max-width: 1440px) {

    .displ {
    font-size: 2.0rem;
    line-height: 1.2;
    }

    .logo {
        margin-top: 50px;
        margin-bottom: 0px;
        width: 150px;
    }

    .navbar {
        background-color: rgba(28, 35, 49, 0.93);
    }

}

@media(min-width: 1441px) and (max-width: 2560px) {
      .navbar {
        background-color: rgba(28, 35, 49, 0.93);
    }

}

@font-face {
  font-family: "Cygre-ExtraBold";
  src: url("../fonts/Cygre-ExtraBold.ttf");

}