@charset "utf-8";
/* CSS Document */

/*------------------------------------------
Project Name : Master na chas
Desgined By  : hassan_malik19
Developed and desgined : Oleg Tsapko;
Date        :  11/May/19;

Table Of Index
------------------
1. Base css
2. Header css
3. Services css
4. Price css
5. About css
6. Call to Action css
7. Text css
8. Counter css
9. Testimonials Css
10. Footer css
11. Modal Window css
12. Media Screen

------------------------------------------*/

/*********************************************
		Base css
*********************************************/

* {
    margin: 0;
    padding: 0;
}

:root {
  --text-color: #15171d;
  --span-color: #ca5718;
}

body {
    color: var(--text-color);
    background-color: #fafafa;
	line-height: 1.5;
    font-size: 1rem;
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h2, h3{
	text-align: center;
	margin: 3rem 0;
    position: relative;
}

h2:after {
    content: "";
    background: url(../images/underline1.png) no-repeat;
    width: 94px;
    height: 11px;
    position: absolute;
    bottom: -22px;
    left: 50%;
    margin-left: -47px;
}


.hr-light-h {
    width: 50%;
    border-top: 1px solid #fafafa;
    margin-left: 25%;
}

a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }

 a {
	 color: #fefefe;
 }

section {
	padding: 3rem 0px;
}

/*********************************************
		Header css
*********************************************/

header {
	height: 100vh;
	overflow: hidden;
	position: relative;
}

header + div {
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	margin: 3rem 0 1rem;
	color: #fefefe;
}

.bg_img {
    background-image: linear-gradient(135deg, #febb79,
        rgba(0, 0, 0, 0.5), rgba(52, 72, 106, 0.3)), url(../images/master-na-chas_1.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    width: 100%;
    filter: brightness(75%);
}

.flag {
	width: 25px;
	margin-left: 5px;
	margin-right: 5px;
}

.navbar {
    font-size: 18px;
    font-weight: 400;
    z-index: 1;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
    z-index: 2;
}

.navbar-brand {
	font-size: inherit;
	text-decoration-line: underline!important;
}

.navbar-brand:hover{
	color: #F57C00!important;
	transition: color 0.5s linear;
}

.btn-rounded {
    border-radius: 10em;
}

#navigation-menu a.mPS2id-highlight {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}

.navbar.navbar-dark .navbar-nav .nav-item.active > .nav-link {
    background-color: rgba(255, 255, 255, 0);
}

.btn.dropdown-toggle,
.top-nav-collapse {
    background-color: #1C2331!important;
}

a {
    text-decoration: none!important;
	color: fefefe;
}

.btn-orange-tel {
    color: #fff;
    background-color: #cc773c;
    border-color: #cc773c;
    font-weight: 500;
    border-radius: inherit;
    padding: 10px 15px;
}

.cta-btn:hover {
    background-color: transparent!important;
    color: #f7f3f3;
    border-color: #f7f3f3;
    transition: all 0.8s linear;
}

h1.display-4 {
    position: relative;
}

.mycolor {
	color: var(--span-color);
}
.display-4 {
    font-weight: 900;
}

.lead {
    font-size: 1.50rem;
    font-weight: 400;
	color: #fefefe;
}

.space {
	padding: 1rem 1rem 1rem;
}
/*********************************************
		Services css
*********************************************/

.services_gr {
    background-image: linear-gradient(120deg, #0e0e0f, #34495e 29%, #141a1f, #ca5718 98%);
}

h4.services_h {
    color: var(--span-color);
	font-weight: bold!important;
	text-align: center;
	margin-bottom: 1.5rem
}

.card .card-body .card-text {
    font-size: 1rem;
    color: #111010;
    font-weight: 400;
}

.testimonial-card .card-up {
    overflow: hidden;
    height: 120px;
    -webkit-border-top-left-radius: .25rem;
    border-top-left-radius: .25rem;
    -webkit-border-top-right-radius: .25rem;
    border-top-right-radius: .25rem;
}

.testimonial-card .avatar {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 120px;
    margin-top: -60px;
    overflow: hidden;
    border: 5px solid #fff;
}

ul,
ul.servicesLinks {
    list-style: none;
}

.servicesLinks li {
    position: relative;
    padding-left: 28px;
}

.servicesLinks li:before {
    content: "\27A5";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 18px;
    color: var(--span-color);
}


/* Carusel */

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    font-size: 2.1rem;
    color: #343A40;
    background: #b7c6c9;
    width: 40px;
    height: 40px;
    top: 26px;
    line-height: 1;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background: var(--span-color);
    transition: background 1s, color 1s;
    color: #fafafa;
}

.owl-theme .owl-nav {
    position: absolute;
    top: -4%;
    left: 50%;
    margin-left: -50px;
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: rgba(134, 151, 145, 0);
    color: var(--span-color);
    text-decoration: none;
}

button:focus {
    outline: 0px auto -webkit-focus-ring-color;
}

.owl-theme .owl-dots .owl-dot.active {
    display: inline-block;
    zoom: 1.1;
    transition: zoom 1s;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--span-color);
    transition: background 1s;
}

.owl-theme .owl-dots {
    margin-top: 30px;
}

.owl-carousel .owl-stage-outer {
    margin-top: 20px;
}

/*********************************************
		About css
*********************************************/

.about-text {
    color: var(--span-color);
}

/*********************************************
		Testimonials css
*********************************************/

.testimonial-carousel .carousel-control.left:before {
    content: "\2039";
}

.testimonial-carousel .carousel-control.right:before {
    content: "\203a";
}

.testimonial-carousel .testimonial {
    margin-right: 23%;
    margin-left: 23%;
}

.testimonial-carousel .carousel-control:before {
    font-size: 5rem;
    color: rgba(0, 0, 0, .6);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.testimonial-carousel .carousel-control.left {
    left: 6%;
}

.testimonial-carousel .carousel-control {
    background-image: none;
    top: 50%;
    -webkit-transform: translateY(-35%);
    -ms-transform: translateY(-35%);
    transform: translateY(-35%);
}

/*********************************************
		Price css
*********************************************/

.accordion-bg {
    background-image: url(../images/usluga-master-na-chas.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.accordion.md-accordion.accordion-2 .card {
    background-color: rgba(2, 1, 1, 0.9);
}

.accordion.md-accordion.accordion-2 .card {
    border: 0;
}

table td {
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 1px;
}

/*********************************************
		Call to Actions css
*********************************************/

.cta {
    font-size: 2rem;
    font-family: inherit;
}

.browns {
    color: var(--span-color);
}

#typed2.wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

section.frame_bg {
    position: relative;
	 background-image: url('../images/remont-v-vannoy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.mt-6 {
    margin-top: 7rem !important;
}

.mt-5-5 {
    margin-top: 6.5rem;
}

.black {
    background-color: #000000c7!important;
    border: 4px #fff;
    border-style: outset;
    border-radius: 25px;
}

/*********************************************
		Counter css
*********************************************/

#counter h3 {
	color :#fdfdfd;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: .5rem;
}
.streak {
    display: block;
    position: relative;
    overflow: hidden;
}

.streak.streak-long-2 {
    height: 100%;
}

.streak.streak-photo {
    background-image: url('../images/populyarnie-uslugi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*********************************************
		Modal Window css
*********************************************/

.md-form .prefix {
    top: .25rem;
    font-size: 1.50rem;
}

/*********************************************
		Footer css
*********************************************/

.footer_bg {
    background-color: var(--text-color);
	padding-top: 3rem;
}

footer h4 {
    position: relative;
    color: #fcffff;
	text-align: center;
}

footer p {
    text-align: justify;
    color: #fcffff;
}

footer h4:after {
    position: absolute;
    content: "";
    top: 37px;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    height: 1px;
    background-color: rgba(245, 177, 110, 0.3);
}

footer hr {
    background-color: rgba(254, 187, 121, 0.2);
}

.footer-copyright a:hover {
	color: rgba(245, 177, 110, 0.3);
}
.text-viber {
    color: #574E92;
}

.text-skype {
    color: #00A9E8;
}

/*****************************************
		Media Screen
*****************************************/

@media(min-width: 320px) and (max-width: 576px) {

    .display-4 {
        font-size: 2.5rem;
        line-height: 1.2;
    }

    .lead {
        font-size: 1.3rem;
    }

    h2:after {
        display: none;
    }

    .h-form,
    .btn-form {
        display: inline;
    }

    .button-orange .btn-orange-tel {
        display: inline-block;
    }

    .navbar {
        background-color: rgba(28, 35, 49, 0.93);
    }

	.testimonial-carousel .testimonial {
		margin-left:  15%;
		margin-right:  15%;
	}

}

@media(min-width: 577px) and (max-width: 767.8px) {

    .btn-form {
        display: none;
    }

    .h-tel {
        display: block;
    }

    .btn-orange-tel {
        display: inline;
    }

    h4.mt-5-5,
    button.mt-5-5 {
        margin: 1.5rem 0;
    }

	.h-form,
    .btn-form {
        display: none;
    }

	h2:after {
        display: none;
    }

	section.frame_bg {
        background: linear-gradient(40deg, #45cafc, #303f9f);
    }

}

@media(min-width: 768px) and (max-width: 1024px) {

    .h-tel,
    .btn-orange-tel {
        display: none;
    }

    h4.mt-5-5,
    button.mt-5-5 {
        margin: 2rem 0;
    }
}

@media(min-width: 1025px) and (max-width: 1440px) {

    .btn-form {
        display: inline-block;
    }

    .h-tel,
    .btn-orange-tel {
        display: none;
    }

    h4.mt-5-5,
    button.mt-5-5 {
        margin: 5.5rem 0;
    }
}

@media(min-width: 1441px) and (max-width: 2560px) {

    .h-tel,
    .btn-orange-tel {
        display: none;
    }

    h4.mt-5-5,
    button.mt-5-5 {
        margin: 13.5rem 0;
    }
}