{% extends 'flatpages/default.html' %}

{% block body %}

<h1>СЧЕТ</h1>
<hr>
<button> <a href="/app/logout/">Выйти</a> </button>
<hr>
<form action="" method="post" >
    <h2>Номер счета № {{ info.id }} от : {{ info.time_in }}</h2>

    <table width="700"><tr>
        <td><h3>Исполнитель:</h3> ИП ГОЦИН С.А. </td><td><h3>Заказчик:</h3> {{ info.customer_name }}</td>
    </tr>
        <tr>
            <td><br><b>Код:</b> 302265920</td><td><b>Код:</b> {{ info.customer_code }}</td>
    </tr>
        <tr>
        <td><br><b>Адрес:</b> Тбилиси, Зураба Патаридзе 8</td><td><b>Адрес: </b>{{ info.address_city }}, {{ info.address_street_app }}, {{ info.address_num }}</td>
    </tr>
        <tr>
            <td><br><b>Телефон: 995-598-259-119</b></td><td><b>Телефон:</b> {{ info.customer_phone }}</td>
    </tr>
        <tr>
        <td><br><b>Банк:</b> JSC CREDO BANK</td><td></td>
    </tr>
          <tr>
        <td><br><b>Код банка:</b> JSCRGE22</td><td></td>
    </tr>
        <tr>
        <td><br><b>Счет:</b> GE18CD0360000030597044</td><td></td>
    </tr>
    </table>


    {% csrf_token %}
{{ form.management_form }}
    {% for g in form %}
    {{ g.as_table }}<a href="delete/{{ g.id.value }}/{{ info.id }}">удалить</a>
<br>

    {% endfor %}

        <input type="submit" value="Save" />
</form>
{% endblock body %}