{% extends 'flatpages/default_user.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block body %}
<style>
    .hidden{
    display:none
    }
</style>

<h2>Список заказов <a href="#"  onclick="show_create_order_form(document.getElementById('form'))"
                      id="link_create_order_form">Создать заказ</a></h2>
<hr>
<a href="{% url 'list_order' %}">Новые заказы</a> | <a href="{% url 'list_order'%}?work_status=END">Все работы</a> |
<a href="{% url 'list_order'%}?work_status=WRK">ИЗБРАННОЕ</a> |
<hr>

<script>
    function show_create_order_form(form) {
        if (form.style.display == "none") {
            $('#form').fadeIn("slow", function(){
                form.style.display = "block";
                $('#link_create_order_form').html('Скрыть');
                                        });

        } else {
             $('#form').fadeOut("slow", function(){
                form.style.display = "none";
                $('#link_create_order_form').html('Создать заказ');
                                        });
        }
    }

    function add_order_in_html_object(r) {
        g=$("#row_order").clone();
        g.attr("class", "");
        g.attr("id", "row_order"+r.pk);

        g.find("#order_").attr("href", "invoice/"+r.pk);
        g.find("#order_").html("Заказ №"+r.pk);
        g.find("#order_").attr("id", "order_"+r.pk);

        g.find("#delete_").attr("href", "invoice/delete-order/"+r.pk);
        g.find("#delete_").attr("id", "delete_"+r.pk);

        g.find("#text_order_").html(r.text_order);
        g.find("#text_order_").attr("id", "text_order_"+r.pk);

        g.find("#customer_name_").html(r.customer_name);
        g.find("#customer_name_").attr("id", "customer_name_"+r.pk);

        g.find("#customer_phone_").html(r.customer_phone);
        g.find("#customer_phone_").attr("id", "customer_phone_"+r.num_order);

        g.find("#city_").html(r.address_city);
        g.find("#city_").attr("id", "city_"+r.pk);

        g.find("#street_app_").html(r.address_street_app);
        g.find("#street_app_").attr("id", "street_app_"+r.num_order);

        g.find("#num_").html(r.address_num);
        g.find("#num_").attr("id", "num_"+r.pk);
        return g;
     }
    </script>

<form method="post" action="" name="form" id="form"  style="display: none;">
    {% csrf_token %}
    <div class="md-form mb-4">

        {{ form.customer_name.errors }}
        {{ form.customer_name }}
        <span id="0"></span>
    </div>
    <div class="md-form mb-4">

        {{ form.customer_phone.errors }}
        {{ form.customer_phone }}
        <span id="1"></span>
    </div>

   <div class="md-form mb-4">
       {{ form.customer_telegram.errors }}
       {{ form.customer_telegram }}
       <span id="2"></span>
   </div>
    <div class="md-form mb-4">

        {{ form.customer_street_app.errors }}
        {{ form.customer_num.errors }}
        {{ form.address_street_app }}
        <span id="3"></span>
        {{ form.address_num }}
        <span id="4"></span>
    </div>
    <div class="md-form mb-4">

        {{ form.text_order.errors }}
        {{ form.text_order }}
        <span id="5"></span>
    </div>

    <button type="submit" name="submit">Отправить заявку</button>
</form>
     <script type="text/javascript">
$(document).ready(function() {
    $('#form').submit(function(e) {
        e.preventDefault();
        let d=$("form input[type='text'], input[type='tel']")
        let check=false;
        for (i=0; i<d.length; i++){
            $('form #'+i).html('');
            if (d[i].value=='') {
                $('form #'+i).html('Введите данные поля "' +d[i].placeholder + '"' );
            check=true;
            }
        }
        if (check) {
            return false;
        } else {
            $.ajax({
                url: '../',
                type: 'POST',
                data: $(this).serialize(),
                dataType: 'text',
                beforeSend: function () {$("#id_form").html('<h3>Отправляется...</h3>');},
                success: function (resp_) {
                                        b=JSON.parse(resp_);
                                        $('#head').prepend(add_order_in_html_object(b));
                                        show_create_order_form(document.getElementById('form'))
                                        $('#form')[0].reset();
                                           },
            });
        }
    });
});
</script>

<table id="head" >
    {% regroup order by time_in|date:"d.m.Y" as day %}
        {% for y in day %}
        <tr><td  colspan="6"><hr></td></tr>
        <tr>
            <td  colspan="6">
                <b>{{ y.grouper }}</b>
            </td>
        <tr>

            {% for i in y.list %}

            {% if i.order_status == 'SND' %}
            <tr id="row_order{{ i.pk }}" bgcolor= "#DCDCDC">
            {% else %}
            <tr>
            {% endif %}
                <td>

                    <a href="{% url 'invoice' i.pk %}" id="order_{{ i.pk }}">Заказ №{{ i.pk}}</a>

                    <a href="{% url 'delete-order' i.pk %}" id="delete_{{ i.pk }}">Удалить</a><br>
                    <span id="text_order_{{ i.pk }}">{{ i.text_order|cut:"@" }}</span>
                </td>
                <td width = 50></td>
                <td><span id="customer_name_{{ i.pk }}">{{ i.customer_name }}</span> |
                    <span id="customer_phone_{{ i.pk }}">{{ i.customer_phone }}</span> |
                    <span id="customer_telegram_{{ i.pk }}"><a href="https://t.me/{{ i.customer_telegram }}">
                        {{ i.customer_telegram }}</a></span>
                    <br>
                    <span id="city_{{ i.pk }}">{{ i.address_city|choice_tag:'city'}}</span>,
                    <span id="street_app_{{ i.pk }}">{{ i.address_street_app }}</span>,
                    <span id="num_{{ i.pk }}">{{ i.address_num }}</span>.
                </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </td>
    </tr>

    <script>
    $(document.body).on( "click", "#paginator_next", function(e) {
        e.preventDefault();
        let $this=$(this);
        $.ajax({
            url: $this.attr('href'),
            type: "GET",
            dataType: "json",
            success: function(e){
                let type=JSON.parse(e);
                for (i = 0; i < type.length; i++) {
                    let date_order=type[i].time_in.substr(0, 10).split("-").reverse().join(".");;
                    $('#head').append('<tr><td  colspan="6"><hr></td></tr>');
                    $('#head').append('<tr><td  colspan="6"><b id="date_">'+date_order+'</b></td></tr>');
                    $('#head').append(add_order_in_html_object(type[i]));
                }
                if (type.length==14) {
                    $('#paginator_next').attr('href', '../listorderjson?last_pk='+type[13].pk+'&work_status=end');
                    }
                else {$('#paginator_next').remove();}

            },

        });
    });
    </script>

    <tr id="row_order" class="hidden">

        <td>
            <a href="" id="order_"> </a>   <a href="" id="delete_">Удалить</a><br>
            <span id="text_order_"></span>
        </td>
        <td width = 50></td>
        <td><span id="customer_name_"></span>, |
            <span id="customer_phone_"></span><br>
            <span id="city_"></span>,
            <span id="street_app_"></span>,
            <span id="num_"></span>.
        </td>
    </tr>
</table>

<br><h2>
    {% if order.13.pk %}

        <a href="../listorderjson?last_pk={{ order.13.pk }}&work_status=end" class="p" id="paginator_next">NEXT</a>
    {% endif %}
</h2>


{% endblock body %}