{% extends 'flatpages/default_user.html' %}
{% load custom_filters %}
{% load custom_tags %}


{% block body %}


<h2>Список заказов</h2>

<table>

{% regroup order by time_in|date:"d.m.Y" as day %}
    {% for y in day %}
    <tr>
        <td  colspan="6">
            <b>{{ y.grouper }}</b>
        </td>
    <tr>

        {% for i in y.list %}
        <tr>
            <td>
            <a href="{% url 'invoice' i.pk %}">Заказа №{{ i.pk}}</a>{{ i.time_out | finish_order_tag }}<br>
            {{ i.text_order|truncatewords:7 }}
            </td>
            <td width = 50></td>
            <td>{{ i.customer_name }} | {{ i.customer_phone }}<br>{{ i.address_city | choice_tag:'city' }}, {{ i.address_street_app }}, {{ i.address_num }}</td>

            </tr>

        {% endfor %}
    {% endfor %}
</table>





{% endblock body %}