{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}


{% block body %}


<h1>Список заказов</h1>

<table width="1300" border="1">
    <tr>
<th>{{ filterset.form.time_in.label }}</th>
<th>{{ filterset.form.address_city.label }}</th>
<th>{{ filterset.form.address_area.label }}</th>
<th>{{ filterset.form.address_street_app.label }}</th>

</tr>

    <tr>
<form action="" method="get">
<td>{{ filterset.form.time_in }} | {{ filterset.form.time_out }}</td>
<td>{{ filterset.form.address_city }}</td>
<td>{{ filterset.form.address_area }}</td>
<td>{{ filterset.form.address_street_app }}</td>
<td><input type="submit" value="Найти" /></td>
<td><input type="reset" value="Очистить" /></td>
</form>
</tr>

{% regroup order by time_in|date:"d.m.Y" as day %}

    {% for y in day %}
    <tr>
        <td  colspan="6">
            <b>{{ y.grouper }}</b>
        </td>
    <tr>

        {% for i in y.list %}
        <tr>
            <td>
            <a href="list_order/{{i.pk }}">{{ i.time_in | date:"H:i"}}</a> {{ i.time_out | finish_order_tag }}</td>


            <td>{{ i.address_city | choice_tag:'city' }}</td>
            <td>{{ i.address_area | choice_tag:'area'}}</td>
            <td>{{ i.address_street_app }}</td>

            <td><a href="list_order/delete/{{ i.pk }}">Удалить</a></td>
    <td><a href="list_order/update/{{ i.pk }}">Изменить</a></td>
        </tr>
        {% endfor %}


    {% endfor %}
</table>





{% endblock body %}