{% extends 'flatpages/default_user.html' %}
{% load static %}
{% load slippers %}

{% block body %}

<h1>Order № {{ pk }} от {{ time_in|date:"d.m.Y" }}</h1>
<hr>
  <datalist id="languages"></datalist>
 {% #form form_=form %}
{% csrf_token %}
{% /form%}

<script>

 $(document.body).on( "input", "#id_address_street_app", function(e) {
        e.preventDefault();

         $.ajax({
            url: "/street?street="+$(this).val() ,
            type: "GET",

            dataType: 'json',
            success: function(b){
              let type=JSON.parse(b);
                $('#languages option').remove();

                 for (i = 0; i < type.length; i++) {
                            full_name_street=type[i].type_street+type[i].name_street
                            $('#languages').append('<option value="'+full_name_street+'">');

                        }
            }
        });
    });


</script>




{% endblock body %}