{% extends 'flatpages/default_user.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block body %}
<h2> Регистрация </h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table">
    {% for i in form %}
        <tr><td>{{i.label}}: </td><td>{{ i }}<br>
            <div class="form-error">{{ i.errors }}</div></td></tr>

    {% endfor %}
        <tr><td colspan="2" align="center">
    <button type="submit" class="btn btn-sm btn-orange btn-form cta-btn waves-effect">Регистрация</button>
        </td></tr>
    </table>
</form>
        {% endblock body %}