{% extends 'flatpages/default_user.html' %}
{% load custom_filters %}
{% load custom_tags %}


{% block body %}


<table width="1300" border="1">
    <tr><td>Имя пользователя:</td><td> {{ user_info.username }}</td>
    <tr><td>Имя:</td><td> {{ user_info.first_name }}</td>
    <tr><td>Фамилия:</td><td> {{ user_info.last_name }}</td>
    <tr><td>Почта:</td><td> {{ user_info.email }}</td>
    <tr><td>Телефон:</td><td> {{ user.phone }}</td>
    <tr><td>Город:</td><td> {{ user.city | choice_tag:'city' }}</td>





    </tr>
</table>




{% endblock body %}