{% extends 'flatpages/default_user.html' %}
{% load custom_filters %}
{% load custom_tags %}


{% block body %}
<img src="data:image/png;base64,{{ d }}" >
<h1>статистика</h1>
{% regroup a by time_in__year as year %}
{% for y in year %}
<b> {{ y.grouper }}</b><br>


    {% for i in y.list %}
        {{ i.time_in__month | choice_tag:'month' }} | {{ i.sum }} | {{ i.count }}<br>

    {% endfor%}

{% endfor%}

<hr>
{% regroup b by time_in__year as year %}
{% for y in year %}
<b> {{ y.grouper }}</b><br>

    {% for i in y.list %}
        {{ i.time_in__month | choice_tag:'month' }} | {{ i.count }}<br>
    {% endfor %}

{% endfor%}


<hr>
{% for i in c %}
    {{ i.service_id__type | choice_tag:'work_type' }} : {{ i.count }} <br>
{% endfor %}



{% endblock body %}

