<div class="row mb-2 g-0">
    <div class="col-md-1"><i id="check1" class="{{ check_1 }}"></i></div>
    <div class="col-md-11 {{ check_font_1 }}" id="check_text_1">Заявка направлена мастеру </div>
</div>
   <div class="row mb-2">
    <div class="col-md-1" ><i id="check2" class="{{ check_2 }}"></i></div>
    <div class="col-md-11 {{ check_font_2 }}" id="check_text_2">Заявка в работе </div>
</div>
<div class="row mb-2">
    <div class="col-md-1" ><i id="check3" class="{{ check_3 }}"></i></div>
    <div class="col-md-11 {{ check_font_3 }}" id="check_text_3">Работы выполнены </div>
</div>