
/.idea/
log.log
/env/


Credo Bank is constantly creating new, convenient opportunities for you
In order not to miss special offers tailored to you, agree to the processing of your data for direct marketing purposes.

I agree to the processing of my personal data (any financial, contact, identifying, and other data) for the purpose of receiving advertising offers on banking products and services from Credo Bank

I am aware that cancellation can be done by texting NO to 91000

See details: Here
